<div class="container">
	<h2 class="title">Политика конфиденциальности</h2>
	Настоящий документ «Политика конфиденциальности» (далее – «Политика») представляет собой правила использования персональных данных Пользователя.
	1. Общие положения
	1.1. Настоящая Политика является неотъемлемой частью Пользовательского соглашения (далее – «Соглашение»), размещенного и доступного в сети Интернет по адресу: https://jbandflowers.ru/agreement.
	Толкование терминов, используемых в Политике, осуществляется с учетом определений, содержащихся  в Соглашении и иных Обязательных документах.
	1.2. Заключая Соглашение, вы свободно, своей волей и в своих интересах даете бессрочное безотзывное письменное согласие на любые способы обработки своих персональных данных, включая любое действие (операцию) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, в том числе сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ) третьим лицам, в том числе трансграничную передачу на территорию иностранных государств, обезличивание, блокирование, удаление, уничтожение персональных данных в установленных настоящей Политикой целях.
	2. Персональные данные
	2.1. Под персональными данными в настоящей Политике понимается: любая информация, относящаяся  к прямо или косвенно определенному или определяемому физическому лицу - Пользователю (субъекту персональных данных), охраняемая в соответствии с Федеральным законом “О персональных данных”,  а также данные, которые передаются в автоматическом режиме в зависимости от настроек программного обеспечения Пользователя, включая, но не ограничиваясь: IP-адрес, cookie, сети оператора связи, данные  об используемом Пользователем программном обеспечении и оборудовании для работы в сети связи, включая Интернет, каналах связи, передаваемой и получаемой с использованием Сервиса информации  и материалах.
	2.2. Правообладатель не несет ответственность за порядок использования Персональных данных Пользователя третьими лицами, с которыми Пользователь вступает во взаимодействие в рамках использования Сервиса, в том числе при заключении и исполнении Сделок.
	2.3. Пользователь осознает и принимает, что на страницах Сайта возможно размещение программного обеспечения третьих лиц, в результате чего такие лица могут получать указанные в п.2.1 обезличенные данные.
	К указанному программному обеспечению третьих лиц в частности могут относиться:
	• системы веб-аналитики (например, Яндекс.Метрика, Google Analytics, Roistat и т.д.);
	• социальные плагины (блоки) социальных сетей (например, Facebook, Instagram и т.д.);
	• другие системы сбора обезличенной информации.
	Пользователь вправе самостоятельно в применяемом им интернет-браузере ограничить сбор такой информации третьими лицами с помощью стандартных настроек конфиденциальности.
	2.4. Правообладатель вправе самостоятельно определять перечень Персональных данных, обязательных к предоставлению при использовании Сервиса. Если какие-либо данные не указаны Правообладателем в качестве обязательных, их предоставление Пользователем осуществляется на свое усмотрение.
	2.5. Правообладатель не осуществляет проверку достоверности предоставляемых Пользователем Персональных данных, полагая, что Пользователь действует добросовестно и осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии.

	3. Цели обработки Персональных данных
	3.1. Правообладатель осуществляет обработку Персональных данных только в той мере, которая необходима и достаточна для заключения и исполнения Сделок с Пользователями.
	3.2. Правообладатель вправе использовать Персональные данные, в частности, в следующих целях:
	• Заключение договоров с использованием Сервиса, в том числе Сделок с Пользователями;
	• Исполнение обязательств по заключенным Договорам и/или Сделкам;
	• Обеспечение связи с Пользователем в рамках информационного обслуживания и улучшения     качества  Сервиса;
	• Проведение маркетинговых, статистических и иных исследований на основе обезличенных данных.

	4. Требования к защите персональных данных
	4.1. Правообладатель осуществляет обработку Персональных данных и обеспечивает их охрану от несанкционированного доступа в соответствии с самостоятельно разработанными внутренними регламентами и нормами действующего законодательства.
	4.2. В отношении Персональных данных Пользователя сохраняется их конфиденциальность, за исключением случаев, когда технология предоставляемого Сервиса или настройки используемого Пользователем программного обеспечения предусматривают открытый обмен данными с иными участниками и пользователями сети Интернет.
	4.3. В целях повышения качества Сервиса, Правообладатель вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сервиса, а также в связи с заключением и исполнением Пользователем Соглашения и иных договоров со своей стороны, в течение 5 лет.
	4.4. Положения п.4.1. и 4.2. в равной мере распространяется на Пользователей, получивших доступ к Персональным данным иных Пользователей в связи с заключением и исполнением Сделок меду ними.

	5. Передача информации
	5.1. Правообладатель вправе передать Персональные данные третьим лицам в следующих случаях:
	• Имеется согласие Пользователя на такие действия;
	• Имеется необходимость передачи Персональных данных в рамках использования Пользователем    функциональных возможностей Сервиса;
	• Имеется необходимость передачи Персональных данных для заключения и исполнения Договоров     и/или Сделок с использованием Сервиса;
	• По запросу суда или иного уполномоченного государственного органа в рамках установленной    законодательством процедуры;
	• Для защиты прав и законных интересов Правообладателя в связи с нарушением заключенных    Пользователем договоров;
	• В случаях, предусмотренных действующим законодательством.

	6. Изменение Политики конфиденциальности
	6.1. Настоящая Политика может быть изменена или прекращена Правообладателем в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте Правообладателя, если иное не предусмотрено новой редакцией Политики.
</div>