<div class="wrap-similar-item">
	<div
		[className]="isGrid ? 'grid_block' : 'block'"
		[ngStyle]="{background: getBackgroundStyle()}"
		(click)="openCardThisFlower($event)"></div>

	<p class="bouqet_name"><span class="flower-name">{{flower.name}} </span>({{flower.pieces}}шт)</p>
	<div class="price large">
		<p class="price_num">{{flower.price | mask: "separator"}},00 руб</p>
		<div *ngIf="isDesktop" class="wrap-quantity">
			<img src="assets/icons/recently/basket.svg" class="img-responsive basket" (click)="addToBasket($event)" />
		</div>
	</div>
</div>