<banner
	[smallBanner]="smallBanner"
	[largeBanner]="largeBanner"
	[bannerTitle]="bannerTitle">
</banner>
<div class="container partner_container">
	<div  *ngIf="isDesktop" class="header-breadcrumb">
		<a routerLink="/">Доставка цветов по Москве</a> - Партнерам
	</div>
	<hr class="line">
	<div class="partner_reason">
		<h2 class="partner_title partner_reason_title">Зачем это нужно магазину?</h2>
		<div class="reason_cards" [ngStyle]="{'background-image': isDesktop ? 'url(/assets/img/partner/partner-block-1_bg.png)' : ''}">
			<div class="row  justify-content-center">
				<div *ngFor="let card of reasonCards" class="col-lg-4 col-md-6">
					<ng-container *ngIf="isDesktop; else smallCard">
						<div class="reason_card" [ngStyle]="{'background-image': card.background}">
							<div class="reason_card-img">
								<img class="reason_card-icon" [attr.src]="card.icon" alt="reason_card-icon">
							</div>
							<h4 class="reason_card-title">{{card.title}}</h4>
							<p class="reason_card-text">{{card.text}}</p>
						</div>
					</ng-container>
					<ng-template #smallCard>
						<div class="reason_card" [ngStyle]="{'background-image': card.backgroundSmall}">
							<div class="reason_card-img">
								<img class="reason_card-icon" [attr.src]="card.icon" alt="reason_card-icon">
							</div>
							<h4 class="reason_card-title">{{card.title}}</h4>
							<p class="reason_card-text">{{card.text}}</p>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="partner_adv">
	<div class="container">
		<h2 class="partner_title partner_adv_title">Преимущества работы с нами</h2>
		<div class="adv_cards">
			<div class="row justify-content-center">
				<div *ngFor="let card of advCards; let i = index" class="col-lg col-md-4">
					<div class="adv_card" (click)="showCardDetails(i)">
						<div class="wrap-title">
							<div class="adv_card-img">
								<img class="adv_card-icon" [attr.src]="card.icon" alt="adv_card-icon">
							</div>
							<h4 class="adv_card-title" [innerHTML]="card.title"></h4>
						</div>
						<p *ngIf="isDesktop" class="adv_card-text">{{card.text}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="partner_steps-work">
		<hr class="line">
		<h2 class="partner_steps-work_title">Как работает J’band Flowers</h2>
		<div class="steps">
			<ng-container *ngIf="isDesktop; else smallSteps">
				<img class="steps_img" src="assets/img/partner/partner-block-3_bg.svg" alt="step-img"/>
			</ng-container>
			<ng-template #smallSteps>
				<img class="steps_img" src="assets/img/partner/partner-block-3_bg_small.svg" alt="step-img"/>
			</ng-template>
		</div>
		<div class="button">
			<button class="btn_open-partnership" (click)="openPartnership()">Стать партнером</button>
		</div>
	</div>
</div>

<div *ngIf="isVisibleModalCard" class="card-modal">
	<div class="backdrop" (click)="hideCardModal()"></div>
	<div class="card-details">
		<span class="hide" (click)="hideCardModal()">
			<img src="assets/icons/partner/close-modal.svg" alt="close-modal">
		</span>
		<h6 [innerHTML]="modalCardTitle"></h6>
		<span [innerHTML]="modalCardText"></span>
	</div>
</div>