.partner_container {
    padding-top: 20px;
}

.header-breadcrumb {
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 12px;
    color: #7C7B7B;
}

.header-breadcrumb > a {
    color: inherit;
    text-decoration: none;
}

.line {
    width: 35px;
    background: #04004D;
}

.partner_title {
	margin-bottom: 50px;
	font-size: 48px;
}

.partner_reason .partner_title {
	margin-bottom: 0;
}

.reason_cards {
	padding-bottom: 100px;
    padding-top: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.reason_card {
	padding: 65px 30px 30px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.reason_card-img {
	margin-bottom: 10px;
}

.reason_card-title {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.reason_card-text {
    font-size: 16px;
    line-height: 24px;
}

.partner_reason,
.partner_adv,
.partner_steps-work {
	margin-bottom: 100px;
}

.partner_adv {
	padding-top: 40px;
    padding-bottom: 90px;
	text-align: center;
	background: #525462 url(/assets/img/partner/partner-block-2_bg.png) center / cover no-repeat;
	color: #fff;
}

.adv_card {
    padding: 40px 30px 30px;
	height: 340px;
	border-radius: 5px;
    text-align: left;
    background: #fff;
}

.adv_card-img {
    margin-bottom: 18px;
}

.adv_card-title {
    font-weight: bold;
    font-size: 18px;
    color: #04004D;
}

.adv_card-text {
    font-size: 16px;
    line-height: 25px;
    color: #121217;
}

.partner_steps-work_title {
    margin-bottom: 90px;
    line-height: 44px;
    font-size: 36px;
    color: #04004D;
}

.steps {
    margin-bottom: 50px;
}

.steps_img {
	width: 100%;
}

.button {
    text-align: center;
}

.btn_open-partnership {
	width: 300px;
	height: 60px;
	border-radius: 5px;
	background: #F3B23F;
	color: #fff;
	border: none;
	box-shadow: none;
	outline: none;
	font-size: 24px;
}

@media (max-width: 1199px) {
    .adv_card {
        margin: auto;
        margin-bottom: 30px;
        max-width: 200px;
    }
}

@media (max-width: 991px) {
    .partner_title {
        font-size: 32px;
    }

    .reason_cards {
        padding-bottom: 0;
    }

    .reason_card {
        margin-bottom: 30px;
    }

    .reason_card-title {
        margin-bottom: 10px;
    }

    .reason_card-text {
        font-size: 14px;
        line-height: 22px;
    }

    .reason_card {
        height: 230px;
    }

    .adv_card {
        margin-bottom: 30px;
        padding: 30px 20px 20px;
        height: 290px;
        max-width: none;
    }

    .adv_card-title {
        margin-bottom: 10px;
        line-height: 22px;
        font-size: 16px;
    }

    .adv_card-text {
        line-height: 24px;
        font-size: 14px;
    }

    .partner_adv {
        padding-bottom: 40px;
    }

    .btn_open-partnership {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }

    .partner_reason,
    .partner_adv,
    .partner_steps-work {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .partner_container {
        padding-bottom: 20px;
    }

    .partner_reason,
    .partner_adv,
    .partner_steps-work {
        margin-bottom: 0;
    }

    .partner_steps-work {
        padding: 50px 0;
    }

    .partner_title,
    .partner_steps-work_title {
        margin-bottom: 40px;
        width: 200px;
        display: block;
        line-height: 27px;
        font-size: 22px;
    }

    .reason_cards {
        padding-top: 20px;
    }
    .reason_card {
        padding: 30px 30px 30px;
        height: 160px;
        background-size: auto;
    }

    .reason_card:first-child,
    .reason_card:last-child {
        background-position: 100% 30%;
    }

    .reason_card:nth-child(2) {
        background-position: 100% 70%;
    }

    .adv_card {
        height: 125px;
        cursor: pointer;
    }

    .partner_adv_title {
        margin: auto;
        margin-bottom: 30px;
        width: 200px;
        display: block;
        line-height: 29px;
        font-size: 24px;
    }

    .wrap-title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    .adv_card-img {
        margin-right: 16px;
        margin-bottom: 0;
    }

    .btn_open-catalog {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }

    .steps {
        margin: auto;
        margin-bottom: 30px;
        width: 70%;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
    }

    .card-details {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 5% 10%;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        line-height: 18px;
        font-size: 14px;
        background: #fff;
        color: #343434;
    }

    .card-details > h6 {
        font-weight: bold;
    }

    .card-details br {
        display: none;
    }

    .hide {
        display: block;
        height: 15px;
        width: 15px;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    .hide > img {
        cursor: pointer;
    }
}

@media (max-width: 575px) {
    .partner_adv {
        padding-top: 24px;
        padding-bottom: 10px;
    }

    .partner_title {
        margin-bottom: 24px;
    }

    .partner_steps-work .partner_title {
        margin-bottom: 50px;
    }

    .btn_open-catalog {
        width: 170px;
        height: 40px;
    }

    .reason_card {
        padding: 20px;
        height: 180px;
    }
}