<div class="row">
	<ng-container *ngFor="let flower of flowers; let i = index">
		<ng-container *ngIf="isGrid; else oneByOne">
			<div product-item
				[isGrid]="isGrid"
				class="col-6 col-md-6 col-lg-4 text-center grid"
				[flower]="flower"></div>
		</ng-container>
		<ng-template #oneByOne>
			<div product-item
				[isGrid]="isGrid"
				class="col-sm-12 col-md-6 col-lg-4 text-center"
				[flower]="flower">
			</div>
			<hr class="small">
		</ng-template>
	</ng-container>
</div>

<div class="row">
	<div class="col-12 text-center">
		<button *ngIf="!isHiddenButton" id="more" class="btn" (click)="loadMoreFlowers()">Ещё</button>
	</div>
</div>