.document {
	margin-top: 30px;
	margin-bottom: 80px;
}

.article {
	margin-bottom: 50px;
}

.title {
	margin-bottom: 30px;
	line-height: 44px;
	font-size: 36px;
}

.subtitle {
	line-height: 28px;
	font-size: 18px;
	font-weight: 600;
}

.text {
	line-height: 28px;
	font-size: 18px;
}

.link {
	text-decoration: none;
	color: inherit;
}

.requisites {
	line-height: 38px;
	font-size: 18px;
}

@media (max-width: 767px) {
	.document {
		margin: 20px 0;
	}

	.article {
		margin-bottom: 30px;
	}

	.title {
		margin-bottom: 20px;
		line-height: 30px;
		font-weight: bold;
		font-size: 24px;
	}

	.subtitle {
		font-size: 16px;
	}

	.text {
		font-size: 16px;
	}

	.requisites {
		line-height: 30px;
		font-size: 16px;
	}
}

@media (max-width: 575px) {
	.title {
		margin-bottom: 20px;
		line-height: 27px;
		font-size: 22px;
		font-weight: bold;
	}

	.subtitle,
	.text {
		line-height: 16px;
		font-size: 12px;
	}

	.requisites {
		line-height: 30px;
		font-size: 12px;
	}
}