<div class="document">
	<div class="container">
		<h2 class="title">Публичная оферта о заключении договора купли-продажи</h2>
		<p class="text">В настоящем документе содержится предложение ИП Жарков Александр Игоревич (далее - “Правообладатель”) заключить договор купли-продажи на изложенных ниже условиях.</p>
		<br/>

		<article class="article">
			<h4 class="subtitle">1. Термины и определения</h4>
			<p class="text">1.1.В настоящем документе используются следующие термины и определения:</p>
			<p class="text">1.1.1. Публичная оферта / Оферта – текст настоящего документа, размещенный на Сайте и доступный в сети Интернет по адресу: <a class="link" routerLink="/oferta">https://jbandflowers.ru/oferta</a>.</p>
			<p class="text">1.1.2. Заказ – документ, содержащий все условия Сделки, оформленный Покупателем путем выбора Товара из числа предлагаемых Правообладателем и заполнения формы на соответствующей странице Сайта.</p>
			<p class="text">1.1.3. Акцепт – полное и безоговорочное принятие Оферты путем совершения Покупателем действий, указанных в настоящей Оферте, создающее Сделку между Правообладателем и Продавцом.</p>
			<p class="text">1.1.4. Агент - в настоящем документе то же, что Правообладатель.</p>
			<p class="text">1.2. Если какой-то из терминов, использованных в настоящем документе, не указан в п. 1.1, необходимо руководствоваться определениями, указанными в Пользовательском соглашении и иных Обязательных документах.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">2. Предмет Сделки</h4>
			<p class="text">2.1. Правообладатель обязуется передать Покупателю Товар (в том числе оказать сопутствующие услуги), на основании оформленных Покупателем Заказов, а Покупатель обязуется принять и оплатить Товар на условиях настоящей Оферты.</p>
			<p class="text">2.2. Наименование, цена, количество Товара, адрес и срок доставки, а также прочие необходимые условия Сделки определяются на основании сведений, предоставленных Покупателем при оформлении Заказа.</p>
			<p class="text">2.3. Агент вправе привлекать Продавцов для исполнения Заказов, отличных от выбранных Покупателем на Сайте.</p>
			<p class="text">2.4. Заключая Сделку, Покупатель принимает и обязуется соблюдать следующие документы (далее - «Обязательные документы»), которые составляют неотъемлемую часть заключаемой в соответствии с настоящей Офертой сделки:</p>
			<p class="text">2.4.1. Пользовательское соглашение, размещенное и доступное в сети Интернет по адресу <a class="link" routerLink="/agreement">https://jbandflowers.ru/agreement</a>, включающее общие условия регистрации на Сайте и использования Сервиса.</p>
			<p class="text">2.4.2. Политика конфиденциальности, размещенная и доступная в сети Интернет по адресу <a class="link" routerLink="/confidential">https://jbandflowers.ru/confidential</a>, которая содержит правила предоставления и использования конфиденциальной информации, включая персональные данные Пользователя, а также иных выгодоприобретателей по Сделке.</p>
			<p class="text">2.4.3. Соглашение об обработке персональных данных, размещенное и доступное в сети Интернет по адресу <a class="link" routerLink="/privacy">https://jbandflowers.ru/privacy</a>, которое содержит условия обработки Правообладателем персональных данных Покупателя.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">3. Права и обязанности Сторон</h4>
			<p class="text">3.1. Продавец обязуется:</p>
			<p class="text">3.1.1. Передать Покупателю Товар в порядке и на условиях Сделки.</p>
			<p class="text">3.1.2. Передать Покупателю Товар надлежащего качества, соответствующий условиям Сделки и требованиям законодательства Российской Федерации.</p>
			<p class="text">3.1.3. Организовать доставку Товара Покупателю.</p>
			<p class="text">3.1.4. Выполнять иные обязанности, предусмотренные Сделкой, включая Обязательные документы, а также действующим законодательством Российской Федерации.</p>
			<p class="text">3.2. Продавец вправе:</p>
			<p class="text">3.2.1. Требовать оплаты Товара в порядке и на условиях, предусмотренных Сделкой.</p>
			<p class="text">3.2.2. Отказать в заключении Сделки Покупателю в случае его недобросовестного поведения, в частности, в случае:</p>
			<p class="text">3.2.2.1. более 2 (Двух) отказов от Товара надлежащего качества в течение года;</p>
			<p class="text">3.2.2.2. предоставления недостоверных персональных данных или иных сведений;</p>
			<p class="text">3.2.3. Осуществлять иные права, предусмотренные действующим законодательством Российской Федерации, а также Сделкой, включая Обязательные документы.</p>
			<p class="text">3.3. Покупатель обязуется:</p>
			<p class="text">3.3.1. Предоставить Продавцу достоверную информацию, необходимую для надлежащего исполнения Сделки, в том числе персональные данные;</p>
			<p class="text">3.3.2. Осуществлять проверку информации в Заказе до совершения Акцепта;</p>
			<p class="text">3.3.3. Принять и оплатить Товар в соответствии с условиями Сделки;</p>
			<p class="text">3.3.4. Проверять наличие уведомлений на Сайте, в том числе в Личном кабинете, и по электронному адресу, указанному Покупателем при оформлении Заказа;</p>
			<p class="text">3.3.5. Возмещать Агенту любые дополнительные расходы, возникшие по вине Покупателя до исполнения обязательств Продавцом. Дополнительные расходы включают, но не ограничиваются: оплатой повторной доставки Товара Получателю, оплатой доставки за пределы зон доставки, выбранного Покупателем на Сайте.</p>
			<p class="text">3.3.6. Проверять качество полученного Товара в течение одного календарного дня, следующего за днем его получения.</p>
			<p class="text">3.3.7. Выполнять иные обязанности, предусмотренные Сделкой, включая Обязательные документы, а также действующим законодательством Российской Федерации.=</p>
			<p class="text">3.4. Покупатель вправе:</p>
			<p class="text">3.4.1. Требовать передачи Товара в порядке и на условиях, предусмотренным Сделкой;</p>
			<p class="text">3.4.2. Отказаться от Товара по основаниям, предусмотренным Сделкой и действующим законодательством Российской Федерации, в том числе в связи с получением некачественного Товара.</p>
			<p class="text">3.4.3. В случае возникновения претензий к Товару, либо каких-либо иных претензий, связанных с работой Сайта или оказываемыми Правообладателем услугами, Покупатель обязан в течение 3 (Трех) календарных дней с момента получения Товара либо с момента обнаружения иных недостатков уведомить Правообладателя о выявленных недостатках. В таком случае Покупатель обязуется выполнить действия, предусмотренные разделом “Претензии”, размещенном и доступном в сети Интернет по адресу <a class="link" routerLink="/help">https://jbandflowers.ru/faq</a>.</p>
			<p class="text">3.4.4. Осуществлять иные права, предусмотренные Сделкой, включая Обязательные документы, а также действующим законодательством Российской Федерации.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">4. Оплата Товара</h4>
			<p class="text">4.1. Стоимость Товара по Сделке определяется исходя их цены Товара, указанной на Сайте в момент оформления Покупателем Заказа, а также адреса доставки и наличия либо отсутствия дополнительных услуг.</p>
			<p class="text">4.2. Покупатель производит оплату Товара любым из способов, предусмотренных Сайтом.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">5. Доставка Товара. Порядок получения Товара</h4>
			<p class="text">5.1. Товар доставляется получателю – Покупателю либо иному лицу, указанному Покупателем при оформлении Заказа. Лицо, указанное Покупателем в качестве получателя Товара, считается надлежащим образом уполномоченным Покупателем на совершение действий по приемке Товара.</p>
			<p class="text">5.2. Адрес и время доставки, а также получатель Товара указывается Покупателем при оформлении Заказа. Адрес и время доставки выбираются Покупателем с учетом условий доставки Товара, размещенных и доступных в сети Интернет по адресу <a class="link" routerLink="/delivery">https://jbandflowers.ru/delivery</a>.</p>
			<p class="text">5.3. Доставка Товара осуществляется Продавцом собственными силами или с привлечением третьих лиц.</p>
			<p class="text">5.4. Получатель Товара при получении Товара обязан в присутствии лица, осуществляющего доставку Товара, проверить внешний вид и упаковку Товара, его количество, комплектность, ассортимент.</p>
			<p class="text">5.5. Получатель Товара обязан получить доставленный Товар в течение 10 минут с момента прибытия лица, осуществляющего доставку, по адресу доставки.</p>
			<p class="text">5.6. Получатель Товара не вправе отказаться от Товара надлежащего качества после осуществления доставки.</p>
			<p class="text">5.7. В случае, если Товар не был получен в установленный срок по вине получателя, Продавец оставляет Товар по адресу доставки (в случае такой возможности) либо хранит его в течение суток до востребования Покупателем, оповестив его возможными способами связи, а по истечении суток - распоряжается им по собственному усмотрению. Обязательства Продавца в таком случае считаются надлежащим образом исполненными, уплаченные за Товар денежные средства Покупателю не возвращаются.</p>
			<p class="text">5.8. Покупатель вправе отказаться от Товара ненадлежащего качества либо существенно отличающегося от Товара, представленного на Сайте, по ассортименту, составу и т.п. В этом случае Покупателю возвращается уплаченная Покупателем стоимость Товара не позднее чем через 10 (десять) дней с даты предъявления Покупателем соответствующего требования. Возврат уплаченной за Товар суммы осуществляется тем способом, которым была произведена оплата, либо иным способом, согласованным Сторонами.</p>
			<p class="text">5.9. После оплаты Товара Покупатель вправе отказаться от Заказа. В таком случае денежные средства, уплаченные Покупателем, подлежат возврату Покупателю за вычетом расходов, понесенных Продавцом на выполнение Заказа.</p>
			<p class="text">5.10. Покупатель принимает и соглашается с тем, что Продавец стремится исполнить Заказ точно вовремя, однако, учитывая возможное воздействие внешних факторов, опоздание Продавца либо курьера Продавца менее чем на 45 минут не считается нарушением срока доставки и претензии по таким опозданиям не принимаются Агентом либо Продавцом.</p>
			<p class="text">5.11 Покупатель соглашается с тем, что в дни официальных государственных праздников доставка Товара может быть совершена с задержкой. Агент старается информировать Покупателя о возможной задержке доставки Товара.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">6. Ответственность сторон</h4>
			<p class="text">6.1. За неисполнение или ненадлежащее исполнение принятых по Сделке обязательств Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.</p>
			<p class="text">6.2. Продавец освобождается от ответственности за неисполнение или ненадлежащее исполнение условий Сделки, в частности, за нарушение условий доставки, в случае сообщения Покупателем недостоверных данных при формировании Заказа.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">7. Обстоятельства непреодолимой силы (форс-мажор)</h4>
			<p class="text">7.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по Сделке, вызванное обстоятельствами непреодолимой силы, возникшими после его заключения. К таким обстоятельствам, в частности, Стороны относят: стихийные бедствия; природные и промышленные катастрофы; террористические акты; военные действия; гражданские беспорядки; принятие органами государственной власти или органами местного самоуправления актов, содержащих запреты или ограничения в отношении деятельности Сторон по Сделке; иные обстоятельства, которые не могут быть заранее предвидены или предотвращены и делают невозможным исполнение обязательств Сторон по Сделке.</p>
			<p class="text">7.2.При наступлении обстоятельств непреодолимой силы, препятствующих исполнению обязательств по Сделке, срок оказания Сторонами своих обязательств переносится соразмерно времени действия таких обстоятельств, а также времени, требуемого для устранения их последствий, но не более 30 (Тридцати) календарных дней. В случае если обстоятельства непреодолимой силы продолжают действовать свыше указанного срока, либо когда при их наступлении обеим Сторонам становится очевидным, что они будут действовать более этого срока, Сделка прекращает свое действие.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">8. Акцепт Оферты и заключение Сделки</h4>
			<p class="text">8.1. Акцепт Оферты Покупателем создает Сделку между Покупателем и Продавцом (статьи 433, 438 Гражданского Кодекса Российской Федерации) на условиях настоящей Оферты.</p>
			<p class="text">8.2. Акцепт Оферты совершается Покупателем путем оформления Заказа и оплаты Товара.</p>
			<p class="text">8.3. Сделка считается заключенной с момента получения Продавцом Акцепта Оферты.</p>
			<p class="text">8.4. На основании настоящей Оферты с Покупателем может быть заключено неограниченное количество Сделок.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">9. Срок действия и изменение Оферты</h4>
			<p class="text">9.1. Оферта вступает в силу с момента размещения на Сайте и действует до момента её отзыва Агентом.</p>
			<p class="text">9.2. Агент вправе в любое время изменить или отозвать оферту путем размещения соответствующей информации на Сайте. В случае изменения или отзыва Оферты Агент вправе направить Покупателю нотификатор в соответствии с разделом 6 Пользовательского соглашения.</p>
			<p class="text">9.3. Изменения Оферты либо ее отзыв вступают в силу с момента размещения на Сайте.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">10. Срок действия, изменение и расторжение Сделки</h4>
			<p class="text">10.1. Сделка вступает в силу с момента Акцепта Оферты Покупателем и действует: а) до момента полного исполнения Сторонами обязательств по Сделке, либо б) до момента досрочного расторжения Сделки.</p>
			<p class="text">10.2. В случае изменения или отзыва Оферты Агентом в течение срока действия Сделки, Сделка считается действующей на условиях Оферты в последней редакции со всеми Обязательными документами.</p>
			<p class="text">10.3. Сделка может быть расторгнута по соглашению Сторон либо по иным основаниям, предусмотренным Офертой или действующим законодательством.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">11. Условия конфиденциальности</h4>
			<p class="text">11.1. Каждая из Сторон обязуется обеспечить конфиденциальность информации, полученной от другой Стороны в рамках каждой Сделки, и не раскрывать, разглашать, обнародовать или иным способом не предоставлять такую информацию кому-либо без предварительного письменного разрешения передающей эту информацию Стороны.</p>
			<p class="text">11.2. Обработка персональных данных Покупателя осуществляется в соответствии с Политикой конфиденциальности Агента, размещенной и доступной в сети Интернет по адресу <a class="link" routerLink="/confidential">https://jbandflowers.ru/confidential</a>.</p>
			<p class="text">11.3. Агент вправе запрашивать дополнительную информацию и документы, в частности копии документов, удостоверяющих личность, кредитных карт и др., в случае необходимости проверки личности или в целях предотвращения мошенничества. Если такая дополнительная информация представлена Агенту, ее использование и охрана осуществляются в соответствии с условиями п.11.2. Оферты.</p>
			<p class="text">11.4. Обязательство по обеспечению конфиденциальности информации, указанной в пунктах 11.1-11.3 Оферты, действительно в течение срока действия Сделки, а также в течение 5 (Пяти) лет после окончания указанного срока.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">12. Электронный документооборот</h4>
			<p class="text">12.1. Стороны вправе обмениваться документами посредством электронной почты или в Личном кабинете. При этом копии документов, содержащие факсимильное воспроизведение подписи, имеют полную юридическую силу.</p>
			<p class="text">12.2. Покупатель обязуется ограничить доступ третьих лиц к своей электронной почте, а также к Личному кабинету на Сайте. В случае утраты Покупателем доступа к своей электронной почте или к Личному кабинету на Сайте либо в случае неправомерного завладения третьим лицом доступом к электронной почте Покупателя или к Личному кабинету Покупателя на Сайте, Покупатель обязуется уведомить об этом Агента.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">13. Заключительные положения</h4>
			<p class="text">13.1. Сделка, ее заключение и исполнение регулируется действующим законодательством Российской Федерации. Все вопросы, не урегулированные настоящей Офертой или урегулированные не полностью, регулируются в соответствии с материальным правом Российской Федерации.</p>
			<p class="text">13.2. Споры по Оферте или Сделке разрешаются в предварительном претензионном порядке. В случае недостижения Сторонами согласия, споры подлежат рассмотрению в суде по месту нахождения Агента.</p>
			<p class="text">13.3. С момента заключения Сделки на условиях настоящей Оферты все ранее имевшие место между Сторонами письменные или устные соглашения или заявления относительно предмета Сделки, утрачивают силу.</p>
			<p class="text">13.4. Принимая настоящую Оферту, Покупатель дает бессрочное безотзывное письменное согласие Продавцу и Агенту на любые способы обработки своих персональных данных в соответствии с Соглашением об обработке персональных данных, размещенным и доступным в сети Интернет по адресу <a class="link" routerLink="/privacy">https://jbandflowers.ru/privacy</a>.</p>
		</article>

		<article class="article">
			<h4 class="subtitle">14. Реквизиты</h4>
			<p class="requisites">
				ИП Жарков Александр Игоревич<br/>
				ОГРНИП 318631300199519<br/>
				ИНН 631188967940<br/>
				р/с № 40802810414500015967<br/>
				ТОЧКА ПАО БАНКА “ФК ОТКРЫТИЕ”<br/>
				БИК 044525999<br/>
				к/с 30101810845250000999<br/>
				Email: info@jbandflowers.ru<br/>
			</p>
		</article>

	</div>
</div>