<div class="refund_block">
	<div class="container">
		<div *ngIf="isDesktop" class="header-breadcrumb">
			<a routerLink="/">Доставка цветов по Москве</a> - возврат
		</div>
		<hr class="line">
		<h2 class="refund_title">Как сделать возврат?</h2>
	</div>
	<div class="wrap-refund_instruction">
		<div class="container">
			<div class="refund_instruction">
				<div class="row">
					<div class="col-12 col-lg-2 align-self-center refund_subtitle">
						<img class="refund_subtitle__img" src="assets/icons/refund/cash.svg" alt="refund_img">
						<div class="refund_subtitle__text">Инструкция <br *ngIf="isBreakInstructionTitle"/>по возврату</div>
					</div>
					<div class="col-12 col-lg-4 refund_desc">
						<h4 class="refund_desc__title">
							Заботимся о качестве
						</h4>
						<p class="refund_desc__text">
							Мы постоянно работаем над качеством сервиса и серьезно относимся к вашим замечаниям
						</p>
						<p class="refund_desc__text">
							Если вам привезли букет, который не соответствует вашим ожиданиям, скорее напишите нам
						</p>
					</div>
					<div class="col-12 col-lg-6 refund_contact">
						<h4 class="refund_desc__title">
							Свяжитесь с нами любым удобным способом
						</h4>
						<div class="contacts">
							<a href="https://t.me/NikitaBoltinsky" class="refund-social_icon">
								<img class="img-responsive icons" src="assets/logos/TelegramLogo.svg" alt="telegram">
							</a>
							<a href="https://wa.me/79857228646" class="refund-social_icon">
								<img class="img-responsive icons" src="assets/logos/WhatsUpLogo.svg" alt="whatsup">
							</a>
							<a class="refund-social_icon email" href="mailto:info@jbandflowers.ru">
								<span class="symbol-at">@</span>
								info@jbandflowers.ru
							</a>
						</div>
						<p class="refund_desc__text">
							Напишите письмо с темой <b>“Претензия к заказу”</b>, <br *ngIf="isDesktop" />мы оперативно ответим Вам.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
		<a class="btn_open-catalog" routerLink="/catalog">За покупками</a>
</div>