<banner
	[smallBanner]="smallBanner"
	[largeBanner]="largeBanner"
	[bannerTitle]="bannerTitle">
</banner>
<div class="container">
	<h2 class="refund_title">Как сделать возврат?</h2>
	<div class="refund_instruction">
		<div class="row">
			<div class="col">
				<div class="refund_img">
					<img src="assets/icons/refund/cash.svg" alt="refund_img">
					Инструкция к возврату
				</div>
				<div class="col-md-4">
					<h4 class="refund_desc__title">
						Заботимся о качестве
					</h4>
					<p class="refund_desc__text">
						Мы постоянно работаем над качеством сервиса и серьезно относимся к вашим замечаниям
					</p>
					<p class="refund_desc__text">
						Если вам привезли букет, который не соответствует вашим ожиданиям, скорее напишите нам
					</p>
				</div>
				<div class="col-md-6">
					<h4 class="refund_desc__title">
						Свяжитесь с нами любым удобным способом
					</h4>
					<div class="contacts">
						<a href="https://t.me/NikitaBoltinsky" class="refund-social_icon">
							<img class="img-responsive icons" src="assets/logos/TelegramLogo.svg" alt="telegram">
						</a>
						<a href="https://wa.me/79857228646" class="refund-social_icon">
							<img class="img-responsive icons" src="assets/logos/WhatsUpLogo.svg" alt="whatsup">
						</a>
						<a class="refund-social_icon" href="mailto:info@jbandflowers.ru">
							<span class="symbol-at">@</span>
							info@jbandflowers.ru
						</a>
					</div>
					<p class="refund_desc__text">
						Напишите письмо с темой “Претензия к заказу”, <br/>мы оперативно ответим Вам.
					</p>
				</div>
			</div>
		</div>
	</div>
	<a class="btn_open-catalog" routerLink="/catalog">За покупками</a>
</div>