<div class="container card_header">
	<div class="row flower-in-basket">
		<div class="col-6">
			<div class="d-flex justify-content-center align-items-center header_product-info">
				<div class="wrap-img">
					<div
						class="product_img"
						[ngStyle]="{background: backgroundStyle}"
					>
					</div>
				</div>
				<p class="flower_name">{{flower.name}} ({{flower.pieces}} шт.)</p>
			</div>
		</div>
		<div class="col-6">
			<div class="d-flex justify-content-center align-items-center header_product-info">
				<div class="product_price">
					<p class="price">{{price | mask: "separator"}},00 руб</p>
				</div>
				<div class="card-header_btn">
					<a class="btn_open-basket" routerLink="/basket">Перейти в корзину</a>
				</div>
			</div>
		</div>
	</div>
</div>