<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
	<div class="form-group register">
		<label class="moved-label">
			<input
				type="text"
				name="username"
				formControlName="username"
				class="form-control username_input"
				[ngClass]="{'error-field': submitted && registerFormFields.username.errors}"
				autocomplete="off"
				placeholder="&nbsp;"
			/>
			<span>Имя</span>
		</label>
	</div>
	<div class="form-group telephone">
		<label class="moved-label">
			<input
				type="tel"
				name="telephone"
				formControlName="telephone"
				class="form-control telephone_input"
				[ngClass]="{'error-field': submitted && registerFormFields.telephone.errors}"
				autocomplete="off"
				placeholder="&nbsp;"
				mask="+0 000 000 00 00"
				[dropSpecialCharacters]="false"
			/>
			<span>Телефон</span>
		</label>
	</div>
	<div class="form-group email">
		<label class="moved-label">
			<input
				type="email"
				formControlName="email"
				class="form-control email_input"
				[ngClass]="{'error-field': submitted && registerFormFields.email.errors}"
				autocomplete="off"
				placeholder="&nbsp;"
			/>
			<span>email</span>
		</label>
	</div>
	<div class="form-group password">
		<label class="moved-label">
			<input
				passwordDisplay
				type="password"
				name="password"
				formControlName="password"
				class="form-control password_input"
				[ngClass]="{'error-field': submitted && (registerFormFields.password.errors || registerFormFields.confirmPassword.errors)}"
				autocomplete="off"
				placeholder="&nbsp;"
			/>
			<span>Пароль</span>
		</label>
		<div
			class="pass-error"
			*ngIf="submitted && registerFormFields.confirmPassword.errors && registerFormFields.confirmPassword.errors.mustMatch"
		>
			Пароли не совпадают
		</div>
	</div>
	<div class="form-group confirm-password">
		<label class="moved-label">
			<input
				passwordDisplay
				type="password"
				name="password"
				formControlName="confirmPassword"
				class="form-control confirm-password_input"
				[ngClass]="{'error-field': submitted && registerFormFields.confirmPassword.errors}"
				autocomplete="off"
				placeholder="&nbsp;"
			/>
			<span>Повторите пароль</span>
		</label>
	</div>
	<div class="form-group agree-terms">
		<label class="agree-terms container_check">
			<input
				type="checkbox"
				id="agree"
				class="form-control agree-terms_input"
				(click)="onChangedAgreement($event)"
			/>
			<svg class="checkbox_svg" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect width="18" height="18" rx="3" />
				<path d="M4.41 6.99969L7.90999 10.4897L13.8202 4.58976L15.2302 5.99976L7.90999 13.3197L3 8.40969L4.41 6.99969Z" />
			</svg>
			<label for="agree">
				Я соглашаюсь с
				<span class="agree_link" (click)="goToAgreement()">условиями использования сайта</span>
			</label>
		</label>
	</div>

	<button class="btn_enter" [disabled]="!isAgree" type="submit">Войти</button>
</form>