<form
	class="form"
	[formGroup]="passwordRecoveryForm"
	(ngSubmit)="onSubmit()"
>
	<div class="form-group forgot">
		<label class="moved-label">
			<input
				type="text"
				name="username"
				autocomplete="off"
				formControlName="username"
				class="form-control username_input"
				[ngClass]="{'error-field': submitted && passwordRecoveryFormFields.username.errors || isBadRequest}"
				(input)="onInput($event)"
				placeholder="&nbsp;"
			/>
			<span>Телефон, email</span>
		</label>
	</div>
	<span *ngIf="isBadRequest" class="bad-request">{{errorText}}</span>
	<button class="btn_enter" type="submit">Восстановить пароль</button>
</form>