<div class="container cathegory-container">
	<div class="row cathegory">
		<div class="col-sm-12 text-center">
			<h3>Категории</h3>
		</div>
	</div>
	<div class="row cathegory-blocks">
		<div class="col-sm-8 cath_block">
			<div class="inside" id="cath_one">
				<div class="cath_text">
					<h1>Меньше 2 000 ₽</h1>
					<p>Самые выгодные предложения для Вас</p>
				</div>
				<button class="btn_white large" (mouseup)="scrollDocumentToCatalog()" (click)="loadCheapProd($event)">Выбрать</button>
			</div>
		</div>
		<div class="col-sm-4 cath_block">
			<div class="inside" id="cath_two">
				<div class="cath_text">
					<h1>Монобукеты</h1>
					<p>Букеты из цветов <br> одного вида</p>
				</div>
				<button class="btn_white large" (mouseup)="scrollDocumentToCatalog()" (click)="loadCategoryProd($event)" [attr.data-attributes-ids]="201">Выбрать</button>
				<img class="img-responsive" src="assets/img/background_two.png">
			</div>
		</div>
	</div>
	<div class="row cathegory-blocks">
		<div class="col-sm-4 cath_block">
			<div class="inside" id="cath_three">
				<div class="cath_text">
					<h1>Авторские <br> букеты</h1>
					<p>Букеты, созданные <br> нашими флористами</p>
				</div>
				<button class="btn_white large" (mouseup)="scrollDocumentToCatalog()" (click)="loadCategoryProd($event)" [attr.data-attributes-ids]="202">Выбрать</button>
				<img class="img-responsive" src="assets/img/background_three.png">
			</div>
		</div>
		<div class="col-sm-4 cath_block" >
			<div class="inside" id="cath_four">
				<div class="cath_text">
					<h1>Розы</h1>
					<p>Подберите чудесный букет роз <br> для любого случая</p>
				</div>
				<button class="btn_white large" (mouseup)="scrollDocumentToCatalog()" (click)="loadCategoryProd($event)" [attr.data-attributes-ids]="423">Выбрать</button>
				<img class="img-responsive" src="assets/img/background_four.png">
			</div>
		</div>
		<div class="col-sm-4 cath_block">
			<div class="inside" id="cath_five">
				<div class="cath_text">
					<h1>Шляпные <br> коробки</h1>
					<p>Стильные букеты в <br> коробках и корзинах</p>
				</div>
				<button class="btn_white large" (mouseup)="scrollDocumentToCatalog()" (click)="loadCategoryProd($event)" [attr.data-attributes-ids]="203">Выбрать</button>
				<img class="img-responsive" src="assets/img/background_five.png">
			</div>
		</div>
	</div>
</div>