<div class="container delivery_container">
	<div *ngIf="isDesktop" class="header-breadcrumb">
		<a routerLink="/">Доставка цветов по Москве</a> - Доставка
	</div>
	<hr class="line">
	<div class="delivery">
		<h2 class="delivery_title">Куда можно заказать цветы?</h2>
		<p class="delivery_text">Мы быстро и бесперерывно доставляем цветы в любую <br *ngIf="isDesktop"/>точку Москвы в пределах МКАД.</p>
		<div class="delivery_map">
			<a
				href="https://yandex.ru/maps/?um=constructor%3A19adadac108870fecdfc715b13683bdc63efbcafcf82bc2b553f8dd5402de63c&amp;source=constructorLink"
				target="_blank"
			>
				<ng-container *ngIf="isDesktop; else smallMap">
					<img class="map__img" src="assets/img/delivery/map_large.png" alt="map"/>
				</ng-container>
				<ng-template #smallMap>
					<img class="map__img" src="assets/img/delivery/map_small.svg" alt="map">
				</ng-template>
			</a>
		</div>
		<a class="btn_open-catalog" routerLink="/catalog">За покупками</a>
	</div>
</div>