:host {
	margin-right: 70px;
	display: inline-block;
	width: 730px;
	flex-shrink: 0;
}

.basket_product-list > .basket__hr {
	margin-top: 0;
}

@media (max-width: 1199px) {
    :host {
		width: 550px;
	}
}

@media (max-width: 991px) {
    :host {
		margin-right: 40px;
		width: 350px;
	}
}

@media (max-width: 767px) {
    :host {
		margin-right: auto;
		width: 100%;
	}

	.basket_product-list {
		margin: auto;
		max-width: 400px;
	}
}