<div class="card-popup_backdrop" (click)="closePopup()"></div>
<div class="popup">
	<span class="btn_hide-popup" (click)="closePopup()">&times;</span>
	<div class="popup-content">
		<h4>Товар добавлен в корзину</h4>
		<div class="row justify-content-between basket_product-item">
			<div
				class="col-2 product_img"
				[ngStyle]="{background: getBackgroundStyle()}"
				[id]="flower.productId"
				(click)="openCardThisFlower($event)">
			</div>
			<p class="col-2 product_name">{{flower.name}}</p>

			<div class="product_quantity">
				<img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" (click)="decrease()" />
				<input class="text-center quantity__input" type="text" [(ngModel)]="count" (change)="onChangeCount($event)" />
				<img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" (click)="increase()" />
			</div>

			<p class="col-2 price">{{price}} руб</p>
		</div>
		<hr/>
		<div class="popup_buttons">
			<button class="btn_close-popup" (click)="closePopup()">Продолжить покупки</button>
			<span (click)="gotToBasket()">Перейти в корзину</span>
		</div>
	</div>
</div>