.cath_block {
	margin-top: 3vh;
	box-sizing: border-box;
}

#cath_one {
	background: url("/assets/img/background_one.png") no-repeat;
	background-size: cover;
}

#cath_two {
	background: linear-gradient(146.89deg, #FF7456 18.74%, #E84927 88.34%);
}

#cath_three {
	background: #66B66E;
}

#cath_four {
	background: linear-gradient(310.69deg, #D03750 5.23%, #F46579 74.26%);
}

#cath_five {
	background: linear-gradient(131.74deg, #4C6081 12.56%, #334A6D 71.52%);
}

.inside {
	position: relative;
	height: 320px;
	color: #fff;
	border-radius: 5px;
}

#cath_one {
	padding: 5% 0 0 5%;
}

#cath_two, #cath_four, #cath_five {
	padding: 12% 0 0 7%;
}

#cath_three {
	padding: 10% 0 0 7%;
}

.inside > button {
	position: absolute;
	bottom: 4vh;
	z-index: 3;
	cursor:pointer;
}

.inside > img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.inside > .cath_text {
	position: absolute;
	z-index: 3;
}

.cath_text > h1 {
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
}

#cath_two > img {
	height: 80%;
}

#cath_four > img,
#cath_five > img {
	height: 60%;
}

#cath_three > img {
	height: 67%;
}

.cath_block {
	margin-top: 3vh;
	box-sizing: border-box;
}

.btn_white {
	padding: .375rem 2rem;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #121217;
	background: #fff;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.btn_white:active {
  outline: 0;
  border: none;
  outline-style: none;
  -moz-outline-style: none;
}

@media (min-width: 320px) and (max-width: 767px) {

	.cathegory-container {
        margin-top: 30px;
    }

    .cathegory {
        margin-bottom: 12px;
	}

	.cath_block {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.inside {
		height: 15vh;
		min-height: 80px;
	}

	.cath_text {
		position: absolute;
		left: 10%;
		top: 40%;
	}

	.inside > .cath_text > h1 {
		font-size: 22px;
	}

	.inside > .cath_text > p {
		display: none;
	}

	.inside > img {
		height: 100% !important;
		position: absolute;
		bottom: 0;
	}

	.cath_text > h1 > br {
		display: none;
	}
}


@media (min-width: 768px) and (max-width: 991px) {

	#cath_two > img,
	#cath_three > img,
	#cath_four > img,
	#cath_five > img {
		height: 50%;
	}

	.cath_text > h1 {
		font-size: 26px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.cath_text > h1 {
		font-size: 36px;
	}
}

@media (min-width: 320px) and (max-width: 413px) {
	.inside > .cath_text > h1 {
		font-size: 18px;
	}
}

@media (min-width: 414px) and (max-width: 575px) {
	.inside > .cath_text > h1 {
		font-size: 24px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.inside > .cath_text > h1 {
		font-size: 26px;
	}
}