<div id="category" class="container category-container">
	<div class="row category">
		<div class="col-sm-12 text-center">
			<h3>Категории</h3>
		</div>
	</div>
	<div class="row category-blocks">
		<div class="col-sm-12 col-md-8 cath_block" (mouseup)="scrollToCatalogMobile()" (click)="loadCheapProdMobile($event)">
			<div class="inside" id="cath_one">
				<div class="cath_text">
					<h1>Меньше {{minPrice}} ₽</h1>
					<p>Самые выгодные предложения для вас</p>
				</div>
				<button class="btn_white large"
					(mouseup)="scrollDocumentToCatalog()"
					(click)="loadCheapProd($event)">Выбрать</button>
			</div>
		</div>
		<ng-container *ngFor="let filter of filterTypes">
			<div class="col-sm-12 col-md-4 cath_block"
				(mouseup)="scrollToCatalogMobile()"
				(click)="loadCategoryProdMobile($event)"
				[attr.data-attributes-ids]="filter.attributesId">

				<div class="inside" id={{filter.categoryId}}>
					<div class="cath_text">
						<h1 [innerHTML]="filter.title"></h1>
						<p [innerHTML]="filter.desc"></p>
					</div>
					<button #cath_block_btn
						class="btn_white large"
						(mouseup)="scrollDocumentToCatalog()"
						(click)="loadCategoryProd($event)"
						[attr.data-attributes-ids]="filter.attributesId">
						{{filter.chooseBtn}}
					</button>
					<img class="img-responsive" src={{filter.image}}>
				</div>
			</div>
		</ng-container>
	</div>
</div>