<div class="rev_black container-fluid">
	<div class="container reviews">
		<div class="row">
			<div class="col-sm-12 text-center rev_header">
				<h3 class="large">Отзывы наших клиентов</h3>
				<h3 class="small">Отзывы</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-6 offset-sm-3 text-center">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
				  	<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				  	</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="img-responsive w-80" src="assets/img/Image.png" alt="Первый слайд">
							<div class="rev_desc">
								<h5>Ким</h5>
								<h6>г.Чебоксары</h6>
								<p class="review_text">Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст</p>
							</div>
						</div>
						<div class="carousel-item">
							<img class="img-responsive w-80" src="assets/img/Image.png" alt="Второй слайд">
							<div class="rev_desc">
								<h5>Рита</h5>
								<h6>г.Волгоград</h6>
								<p class="review_text">Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст</p>
							</div>
						</div>
						<div class="carousel-item">
							<img class="img-responsive w-80" src="assets/img/Image.png" alt="Третий слайд">
							<div class="rev_desc">
								<h5>Альберт</h5>
								<h6>г.Бобруйск</h6>
								<p class="review_text">Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст Текст отзыва, отзыва текст</p>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<img class="img-responsive large" src="assets/img/button_left.svg">
						<img class="img-responsive small" src="assets/img/left_mobile.png">
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<img class="img-responsive large" src="assets/img/button_right.svg">
						<img class="img-responsive small" src="assets/img/right_mobile.png">
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>