.rev_black {
	background: linear-gradient(0.001deg, #1E1D21 0.72%, #242A2E 90.35%, rgba(38, 47, 51, 0) 97.76%);
	margin-top: -15vh;
}

.rev_header > h3 {
	color: #fff;
}

.reviews {
	padding-top: 15vh;
	color: #fff;
}
#carouselExampleIndicators {
	margin-top: 5vh;
	margin-bottom: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 5vh;
}

.carousel-control-prev,
.carousel-control-next {
	margin-top: -15vh;
}

.carousel-control-prev {
	left: -30px;
}

.carousel-control-next {
	right: -30px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}

.carousel {
    height: 360px;
}

.carousel-item {
	height: 640px;
}

.carousel-indicators li {
	margin: 0 10px;
	width: 22px;
	height: 22px;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: transparent;
}

.carousel-indicators .active {
	border: 2px solid #FFC122;
	background-color: #FFC122;
}

@media (max-width: 768px) {
	.rev_header > h3 {
		font-style: normal;
		font-weight: 600;
		font-size: 22px !important;
		line-height: 27px !important;
	}

	.rev_header > h3 {
		font-style: normal;
		font-weight: 600;
		font-size: 22px !important;
		line-height: 27px !important;
	}

	.carousel-control-prev,
	.carousel-control-next {
		margin-top: -30vh !important;
	}

	#carouselExampleIndicators {
		margin-bottom: 40px;
	}

	.carousel-indicators li {
		margin: 0 4px;
		width: 11px;
		height: 11px;
	}
}

@media (max-width: 450px) {
	.carousel {
	    height: 420px;
	}
}