<div class="rev_black container-fluid">
	<div class="container reviews">
		<div class="row">
			<div class="col-sm-12 text-center rev_header">
				<h3 class="large">Отзывы наших клиентов</h3>
				<h3 class="small">Отзывы</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-12 col-md-9 mx-auto text-center">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
				  	<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				  	</ol>
					<div class="carousel-inner" >
						<ng-container *ngFor="let review of reviews; let i = index">
							<div class="carousel-item" [class.active]="i === 0" >
								<review-item [review]="review"></review-item>
							</div>
						</ng-container>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<img class="img-responsive large" src="assets/img/button_left.svg">
						<img class="img-responsive small" src="assets/img/left_mobile.png">
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<img class="img-responsive large" src="assets/img/button_right.svg">
						<img class="img-responsive small" src="assets/img/right_mobile.png">
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>