.header-breadcrumb {
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 12px;
    color: #7C7B7B;
}

.header-breadcrumb > a {
    color: inherit;
    text-decoration: none;
}

.line {
    width: 35px;
    background: #04004D;
}

.partnership-block {
	padding-top: 20px;
	margin-bottom: 100px;
}

.partnership_title {
	font-size: 36px;
	color: #04004D;
}

.steps {
    margin-bottom: 80px;
}

.step {
	margin-bottom: 60px;
    display: flex;
}

.partnership_icon,
.partnership_img {
	margin-right: 26px;
}

.partnership_icon {
	width: 32px;
	flex-grow: 0;
}

.partnership_img > img {
	width: 100%;
}

.partnership__text {
    margin-bottom: 0;
}

.btn_open-registration {
	display: block;
	margin: auto;
	width: 300px;
	height: 60px;
	border-radius: 5px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	background: #F3B23F;
	color: #fff;
	cursor: pointer;
}

@media (max-width: 991px) {
    .partnership_title {
        font-size: 32px;
	}

	.partnership-block {
		margin-bottom: 50px;
	}

	.steps {
		margin-bottom: 0;
	}

	.btn_open-registration {
		width: 200px;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
	}

	.partnership__text {
		font-size: 14px;
	}

	.partnership_img {
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	.partnership_title {
		margin-bottom: 45px;
        font-size: 24px;
	}

	.step {
		margin-bottom: 30px;
	}

	.partnership__text {
		font-size: 16px;
	}

	.partnership_img {
		margin-right: 0;
	}
}

@media (max-width: 575px) {

	.partnership_title {
        font-size: 22px;
	}

	.partnership__text {
		font-size: 14px;
	}

	.partnership_icon {
		padding: 0;
		margin-right: 10px;
	}

	.partnership_img > img {
		max-width: 370px;
	}

	.btn_open-registration {
		width: 160px;
		height: 36px;
		line-height: 36px;
		border-radius: 5px;
		font-size: 14px;
	}
}