<banner
	[smallBanner]="smallBanner"
	[largeBanner]="largeBanner"
	[bannerTitle]="bannerTitle">
</banner>
<div class="partnership-block">
	<div class="container">
		<div *ngIf="isDesktop" class="header-breadcrumb">
			<a routerLink="/">Доставка цветов по Москве</a> - Сотрудничество
		</div>
		<hr class="line">
		<h2 class="partnership_title">Как начать с нами работать?</h2>
		<div class="steps">
				<div *ngFor="let step of instructionWork" class="step">
					<div class="row align-items-center justify-content-sm-left justify-content-center">
						<div class="col-10 col-md-5 d-flex">
							<div class="partnership_icon">
								<img [attr.src]="step.icon" alt="partnership_icon">
							</div>
							<p class="partnership__text" [innerHTML]="step.text"></p>
						</div>
						<div class="col-10 col-md-5 col-lg-4 partnership_img">
							<img [attr.src]="step.example" alt="partnership_img">
						</div>
					</div>
				</div>
		</div>
		<span class="btn_open-registration" (click)="openRegistationForm()">Регистрация</span>
	</div>
</div>