<nav class="large">
	<div class="container">
		<div class="container-fluid menu">
			<ul class="list-inline">
				<li>
					<a routerLink="catalog" routerLinkActive="active-page">
						Каталог
					</a>
				</li>
				<li>
					<a routerLink="buyer" routerLinkActive="active-page">
						Покупателям
					</a>
				</li>
				<li>
					<a routerLink="partner" routerLinkActive="active-page">
						Партнерам
					</a>
				</li>
				<li>
					<a routerLink="help" routerLinkActive="active-page">
						Помощь
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>