.list-inline {
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

ul.list-inline > li {
	display: inline-block;

	font-weight: 500;
	margin-left: 5%;
}

a {
	color: rgba(18, 18, 23, 0.7);
}

.active-page {
	color: #EB5642;
}