<banner
	*ngIf="isVisibleBanner"
	[smallBanner]="smallBanner"
	[largeBanner]="largeBanner"
	[bannerTitle]="bannerTitle">
</banner>

<div id="catalog" class="container catalog-container">
	<div *ngIf="!isMainPage && isDesktop" class="header-breadcrumb">
		<a routerLink="/">Доставка цветов по Москве</a> - Каталог
	</div>

	<div class="row catalog">
		<div class="col-sm-12 text-center">
			<h3>Каталог</h3>
		</div>
	</div>
	<div class="row small">
		<div class="col-md-3 mx-auto d-flex justify-content-between align-items-center text-center">
			<button id="opener" class="small trans_btn" (click)="openSidebarFilters()">
				<img class="filter-btn-icon" src="assets/icons/filter-btn.svg" />
				Фильтры
			</button>
			<div class="cath-display">
				<button id="grid" class="small sqr-btn" (click)="onGrid()">
					<img id="grid_pic" class="img-responsive" [src]="setColorIconGrid()" />
				</button>
				<button id="one_by_one" class="small sqr-btn" (click)="onOneByOne()">
					<img id="sqare_pic" class="img-responsive" [src]="setColorIconNotGrid()" />
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="trans" [ngClass]="{trans_visible: isVisibleBackdrop}" (click)="closeSidebarFilters()"></div>
		<div filters
			#filter
			class="col-md-4 col-lg-3"
			[ngClass]="{
				'filter__pos-left': isOpenSidebarFilters,
				'filter': !isDesktop,
				'filter_smooth-transition': isSmoothTransitionFilter }"
			[openSidebarFilter]="eventOpenSidebarFilter.asObservable()"
			(hideSidebarFilters)="closeSidebarFilters($event)">
		</div>
		<div product-list
			[setGridProduct]="eventSetGrid.asObservable()"
			[setGridByOneProduct]="eventSetOneByOne.asObservable()"
			class="col-sm-12 col-md-8 col-lg-9 mx-auto catalog-blocks not_grid">
		</div>
	</div>
</div>