<div id="catalog" #catalog class="container catalog-container">
	<div class="row catalog">
		<div class="col-sm-12 text-center">
			<h3>Каталог</h3>
		</div>
	</div>
	<div class="row small">
		<div class="col-md-3 offset-md-3 text-center">
			<button id="opener" class="small trans_btn" (click)="openSidebarFilters()">Фильтры</button><br>
			<div class="cath-display">
				<button id="grid" class="small sqr-btn"><img id="grid_pic" class="img-responsive" src="assets/icons/grid_grey.png"></button>
				<button id="one_by_one" class="small sqr-btn"><img id="sqare_pic" class="img-responsive" src="assets/icons/sqare_red.png"></button>
			</div>
		</div>
	</div>
	<div class="row">
		<div filters
			class="col-sm-3 large"
			(onCheckedChangeFilter)="onCheckedChange($event)"
			(onChangedPrice)="onChangedRangePrice($event)">
		</div>
		<div product-list
			class="col-sm-12 col-md-9 catalog-blocks not_grid"
			[isCheckedFilter]="isCheckedFilter"
			[attributesIds]="attributesIds"
			[maxValue]="maxValue"
			[minValue]="minValue"
			[lowPrice]="lowPrice"
			[attrIds]="attrIds">
		</div>
	</div>
</div>

<sidebar-filters
	(onCloseSidebarFilters)="closeSidebarFilters()"
	[isOpenSidebarFilters]="isOpenSidebarFilters"
	(onCheckedChange)="onCheckedChange($event)"
	(onChangedRangePrice)="onChangedRangePrice($event)">
</sidebar-filters>