<div id="catalog" #catalog class="container catalog-container">
	<div class="row catalog">
		<div class="col-sm-12 text-center">
			<h3>Каталог</h3>
		</div>
	</div>
	<div class="row small">
		<div class="col-md-3 offset-md-3 text-center">
			<button id="opener" class="small trans_btn" (click)="openSidebarFilters()">
				<img class="filter-btn-icon" src="assets/icons/filter-btn.svg" />
				Фильтры
			</button><br>
			<div class="cath-display">
				<button id="grid" class="small sqr-btn">
					<img id="grid_pic" class="img-responsive" src="assets/icons/grid_grey.png" />
				</button>
				<button id="one_by_one" class="small sqr-btn">
					<img id="sqare_pic" class="img-responsive" src="assets/icons/sqare_red.png" />
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ng-container *ngIf="isDesktop; else mobile">
			<div filters
				class="col-sm-3 col-md-4 col-lg-3 large"
				(onCheckedChangeFilter)="onCheckedChange($event)"
				(onChangedPrice)="onChangedRangePrice($event)">
			</div>
		</ng-container>
		<ng-template #mobile>
			<div id="trans" [ngClass]="{trans_visible: isOpenSidebarFilters}"></div>
			<div id="mySidenav_filters" class="side_nav" [ngClass]="{'side_nav__pos-left': isOpenSidebarFilters}">
				<span class="closebtn" (click)="closeSidebarFilters()">&times;</span>
				<div filters
					(onCheckedChangeFilter)="onCheckedChange($event)"
					(onChangedPrice)="onChangedRangePrice($event)">
				</div>
			</div>
		</ng-template>
		<div product-list
			class="col-sm-10 col-md-8 col-lg-9 mx-auto catalog-blocks not_grid"
			[onCheckedChange]="eventCheckedChange.asObservable()"
			[onChangedRangePrice]="eventChangedRangePrice.asObservable()">
		</div>
	</div>
</div>