<div [className]="isGrid ? 'grid_block' : 'block'" [ngStyle]="{background: getBackgroundStyle()}">
	<img class="img-responsive heart" src="assets/img/heart.svg">
</div>
<div class="bouqet_desc" *ngIf="isDesktop; else mobile">
	<p class="bouqet_num"><span class="flower-name">{{flower.name}} </span><br class="small"> ({{flower.pieces}}шт)</p>
	<div class="price large">
		<p class="price_num">{{price}} руб</p>
		<div class="wrap-quantity">
			<div class="quantity">
			  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" (click)="decrease()" />
			  <input type="text" [(ngModel)]="count" >
			  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" (click)="increase()" />

			</div>
			<img src="assets/img/small_basket.svg" class="img-responsive basket">
		</div>
	</div>
</div>
<ng-template #mobile>
	<div [className]="isGrid ? 'grid_price' : ''" class="price small">
		<div class="price_info text-left">
			<p class="bouqet_num"><span class="flower-name">{{flower.name}}</span><br class="small"> ({{flower.pieces}}шт)</p>
			<p class="price_num">{{price}} ₽</p>
		</div>
		<button [className]="isGrid ? 'grid_in_basket' : 'in_basket'">
				В корзину
			<img *ngIf="!isGrid" class="img-responsive" src="assets/img/basket_btn.png">
		</button>
	</div>
</ng-template>