:host {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.flower_img {
	width: 100%;
}

.block {
	margin-bottom: 6px;
	height: 300px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
}

.catalog-blocks > .col-sm-9 > .row > .col-sm-3 > p {
	color: #2D2D2D;
	font-weight: 500;
	font-size: 0.7rem;
	text-align: left;
}

.catalog-blocks > .row > .col-sm-4 {
	margin-bottom: 3vh;
}

.heart {
	position: absolute;
	top: 3%;
	right: 2rem;
	width: 1rem;
}

.wrap-quantity {
	display: flex;
}

.quantity {
	width: 4rem;
	height: 1.5rem;
	position: relative;
	border: 1px solid rgba(18, 18, 23, 0.4);
	border-radius: 3px;
	margin-right: 6px;
}

.quantity input {
	height: 100%;
	width: 16px;
	position: absolute;
	left: 1.4rem;
	top: 0;
	-webkit-appearance: none;
	text-align: center;
	outline: none;
	border: none;
	font-size: 0.8rem;
	color: #43484D;
}

.minus {
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
  	left: 0.15rem;
  	top: 0.3rem;
}

.plus {
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
  	right: 0.15rem;
  	top: 0.3rem;
}

.price {
	display: flex;
	justify-content: space-between;
}

.price > p {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.07em;
	color: #525252;
	padding-left: 0.2rem;
}

.bouqet_num {
	text-align: left;
	font-size: 13px;
	font-weight: 500;
	height: 45px;
}

.basket {
	height: 1.5rem;
}

@media (max-width: 992px) {
	:host {
		flex-direction: column;
	}

	.block {
		height: 250px;
	}
}

@media (max-width: 768px) {

	:host {
		margin-bottom: 0;
		flex-direction: row;
	}

	/* .block {
		height: 300px;
		width: 50%;
		margin-right: 15px;
	} */

	.grid_block, .block {
		margin-right: 15px;
		margin-bottom: 0;
		padding-top: 55%;
		width: 50%;
		height: auto;
		border-radius: 5px;
	}

	.grid_block {
		width: 100%;
		padding-top: 110%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.grid_price,
	.price {
		width: 50%;
		flex-direction: column;
		align-items: flex-end;
	}

	.grid_price {
		width: 100%;
	}

	.price_info {
		width: 100%;
		align-self: baseline;
	}

	.heart {
		display: none;
	}

	.bouqet_num {
		min-width: 115px;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}

	.price_num {
		margin-bottom: 8px;
		font-weight: bold;
		color: #525252;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.07em;
	}

	.grid_price .price_num {
		text-align: center;
	}

	.grid_in_basket,
	.in_basket {
		background-color: #fff;
		padding: 0.5rem 0.375rem;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.07em;
		font-weight: bold;
		color: #EB5642;
		outline: none;
		border: none;
	}

	.grid_in_basket {
		width: 100%;
		border-radius: 5px;
		background: #EB5642;
		color: #fff;

	}
}

@media (max-width: 576px) {

	.block {
		width: 50%;
		height: auto;
		padding-top: 55%;
	}

	.bouqet_num {
		font-size: 12px;
	}
}
