<div class="block">
	<img class="img-responsive flower_img" src={{flower.photos[0].fileName640}} alt="цветы">
	<img class="img-responsive heart" src="assets/img/heart.svg">
</div>
<ng-container *ngIf="isDesktop; else mobile">
	<p class="bouqet_num">{{flower.name}}<br class="small"> ({{flower.pieces}}шт)</p>
	<div class="price large">
		<p class="price_num">{{flower.price}},00 руб</p>
		<div class="wrap-quantity">
			<div class="quantity">
			  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" (click)="decrease()" />
			  <input type="text" [(ngModel)]="count" >
			  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" (click)="increase()" />

			</div>
			<img src="assets/img/small_basket.svg" class="img-responsive basket">
		</div>
	</div>
</ng-container>
<ng-template #mobile>
	<div class="price small">
		<div class="price_info text-left">
			<p class="bouqet_num">{{flower.name}}<br class="small"> ({{flower.pieces}}шт)</p>
			<p class="price_num">{{flower.price}},00 руб.</p>
		</div>
		<button class="in_basket">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
	</div>
</ng-template>