<div class="container ">
	<div class="row">
		<div class="col-lg-11 col-md-12">
			<div class="row">
				<div class="col-lg-3 col-md-5 links text-left">
					<h6>Покупателям</h6>
					<a class="footer_links" routerLink="oferta"><p>Публичная оферта</p></a>
					<a class="footer_links" routerLink="delivery"><p>Доставка</p></a>
					<a class="footer_links" routerLink="refund"><p>Правила возврата</p></a>
					<a class="footer_links" routerLink="lifehack"><p>Как ухаживать за цветами</p></a>
				</div>
				<div class="col-lg-3 col-md-5 links text-left">
					<h6>Партнерам</h6>
					<a class="footer_links" routerLink="partner"><p>Партнерство</p></a>
					<a class="footer_links" routerLink="partnership"><p>Регистрация магазина</p></a>
					<a class="footer_links" routerLink="agent"><p>Партнерское соглашение</p></a>
				</div>
				<div class="col-lg-3 col-md-5 links text-left">
					<h6>Документы</h6>
					<a class="footer_links" routerLink="agreement"><p>Пользовательское соглашение</p></a>
					<a class="footer_links" routerLink="agent"><p>Партнерское соглашение</p></a>
					<a class="footer_links" routerLink="oferta"><p>Публичная оферта</p></a>
					<a class="footer_links" routerLink="confidential"><p>Политика конфиденциальности</p></a>
					<a class="footer_links" routerLink="privacy"><p>Согласие об обработке<br>
						персональных данных
					</p></a>
				</div>
				<div class="col-lg-3 col-md-5 links text-left">
					<h6>Помощь</h6>
					<a class="footer_links" routerLink="help"><p>Часто задаваемые вопросы</p></a>
				</div>
			</div>
		</div>
		<div class="col-lg-1 d-md-none"></div>
	</div>
</div>