<div class="container ">
	<div class="row">
		<div class="col-sm-3 links text-left">
			<h6>Покупателям</h6>
			<a class="footer_links" href="#"><p>Публичная оферта</p></a>
			<a class="footer_links" href="#"><p>Доставка</p></a>
			<a class="footer_links" href="#"><p>Правила возврата</p></a>
			<a class="footer_links" href="#"><p>Как ухаживать за цветами</p></a>
		</div>
		<div class="col-sm-3 links text-left">
			<h6>Партнёрам</h6>
			<a class="footer_links" href="#"><p>Партнерство</p></a>
			<a class="footer_links" href="#"><p>Регистрация магазина</p></a>
			<a class="footer_links" href="#"><p>Партнёрское соглашение</p></a>
		</div>
		<div class="col-sm-3 links text-left">
			<h6>Документы</h6>
			<a class="footer_links" href="#"><p>Пользовательское соглашение</p></a>
			<a class="footer_links" href="#"><p>Партнёрское соглашение</p></a>
			<a class="footer_links" href="#"><p>Публичная оферта</p></a>
			<a class="footer_links" href="#"><p>Политика конфеденциальности</p></a>
			<a class="footer_links" href="#"><p>Согласие об обработке<br>
				персональных данных
			</p></a>
		</div>
		<div class="col-sm-3 links text-left">
			<h6>Помощь</h6>
			<a class="footer_links" href="#"><p>Часто задаваемые вопросы</p></a>
		</div>
	</div>
</div>