.color {
	width: 23px;
    height: 23px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.color-active {
	border-color: rgba(0,0,0,.5);
}

.color-checkbox {
	display: none;
}

@media (max-width: 768px) {

    .wrap-color {
        margin: 0 8px;
        display: inline-block;
        text-align: center;
    }
}