<div class="sidenav">
	<button class="dropdown-btn" (click)="dropdown()">
		<i class="icon-left"><img class="img-responsive" src="assets/icons/colors_icon.svg"></i>
			Цвета
		<i class="fa-caret-down"><img class="img-responsive" src="assets/img/caret.svg"></i>
	</button>
	<div class="dropdown-container" [ngClass]="{active: isActive}">
		<span *ngFor="let attrId of attrIds; let i = index;">
			<input #inputColor
				class="color-checkbox"
				type="checkbox"
				id="color{{i + 1}}"
				(click)="onChanged($event)"
				[attr.data-attributes-ids]=attrId>
			<label for="color{{i + 1}}" class="color" >
					<img id="color{{i + 1}}" class="img-responsive" src="assets/img/Checkbox{{i + 1}}.svg"/>
			</label>
		</span>
	</div>
	<hr>
</div>