<div class="sidenav">
	<button class="dropdown-btn" (click)="dropdown()">
		<i class="icon-left"><img class="img-responsive" src="assets/icons/colors_icon.svg"></i>
			Цвета
		<i class="fa-caret-down"><img class="img-responsive" src="assets/img/caret.svg"></i>
	</button>
	<div class="dropdown-container" [ngClass]="{active: isActive}">
		<img id="color1" class="img-responsive color" src="assets/img/Checkbox01.svg" />
		<img id="color2" class="img-responsive color" src="assets/img/Checkbox02.svg" />
		<img id="color3" class="img-responsive color" src="assets/img/Checkbox03.svg" />
		<img id="color4" class="img-responsive color" src="assets/img/Checkbox04.svg" />
		<img id="color5" class="img-responsive color" src="assets/img/Checkbox05.svg" />
		<img id="color6" class="img-responsive color" src="assets/img/Checkbox06.svg" />
		<img id="color7" class="img-responsive color" src="assets/img/Checkbox07.svg" />
		<img id="color8" class="img-responsive color" src="assets/img/Checkbox08.svg" />
		<img id="color9" class="img-responsive color" src="assets/img/Checkbox09.svg" />
		<img id="color10" class="img-responsive color" src="assets/img/Checkbox10.svg" />
		<img id="color11" class="img-responsive color" src="assets/img/Checkbox11.svg" />
		<img id="color12" class="img-responsive color" src="assets/img/Checkbox12.svg" />
	</div>
	<hr>
</div>