:host {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.block {
	margin-bottom: 6px;
	height: 300px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
}

.heart {
	position: absolute;
	top: 3%;
	right: 2rem;
	width: 1.4rem;
	cursor: pointer;
	fill: none;
}

.heart path:nth-child(2) {
	fill: #FE3E3E;
}

.heart path:nth-child(1) {
	fill: none;
}

.favorite path:nth-child(2) {
	fill: #fff;
}

.favorite path:nth-child(1) {
	fill: #FE3E3E;
}

.wrap-quantity {
	display: flex;
}

.quantity {
	width: 4rem;
	height: 1.5rem;
	position: relative;
	border: 1px solid rgba(18, 18, 23, 0.4);
	border-radius: 3px;
	margin-right: 6px;
}

.quantity input {
	height: 100%;
	width: 16px;
	position: absolute;
	left: 1.4rem;
	top: 0;
	-webkit-appearance: none;
	text-align: center;
	outline: none;
	border: none;
	font-size: 0.8rem;
	color: #43484D;
}

.sign,
.basket {
	cursor: pointer;
}

.minus {
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
  	left: 0.15rem;
  	top: 0.3rem;
}

.plus {
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
  	right: 0.15rem;
  	top: 0.3rem;
}

.price {
	display: flex;
	justify-content: space-between;
}

.price > p {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.07em;
	color: #525252;
}

.bouqet_num {
	text-align: left;
	font-size: 13px;
	font-weight: 500;
	height: 45px;
}

.basket {
	height: 1.5rem;
}

@media (max-width: 991px) {
	.price > p {
		font-size: 13px;
		padding-left: 0;
	}
}

@media (max-width: 575px) {
	:host {
		margin: 0 15px;
	}

	:host .col-8 {
		padding-right: 0;
	}

	:host .col-4 {
		padding-left: 0;
	}

	.price_num {
		margin-bottom: 0;
		font-weight: 600;
		font-size: 14px;
	}

	.bouqet_num {
		font-weight: 500;
		font-size: 12px;
	}

	.mobile_product_img {
		width: 60px;
		height: 75px;
		border-radius: 5px;
	}

	.wrap-img {
		margin-right: 16px;
	}

	.buttons {
		height: 100%;
	}

	.heart {
		position: static;
		width: 1rem;
		cursor: pointer;
		fill: none;
	}

	.heart path:nth-child(1) {
		fill: none;
	}

	.heart path:nth-child(2) {
		fill: #999;
	}

	.favorite path:nth-child(1) {
		fill: #EB5642;
	}

	.favorite path:nth-child(2) {
		fill: #EB5642;
	}

	.in_basket {
		border: none;
		text-align: right;
		outline: none;
		font-size: 12px;
		font-weight: 600;
		background: #fff;
		color: #EB5642;
	}
}