footer {
	background: #151515;
	padding-bottom: 5vh;
	padding-top: 5vh;
}

footer > hr{
	color: rgba(196, 196, 196, 0.7);;
	background-color: rgba(196, 196, 196, 0.7);;
}



@media (max-width: 768px) {
	footer {
		padding-top: 0;
	}
}