<div class="container">
	<div *ngIf="isDesktop" class="header-breadcrumb">
		<a routerLink="/">Доставка цветов по Москве</a> - Корзина
	</div>
	<h2 class="basket_title">{{basketTitle}}</h2>
	<ng-container *ngIf="!isEmptyBasket; else addProduct">
		<div class="basket-container">
			<div class="d-flex checkout-list">
				<basket-product-list
					[basketProducts]="basketProducts">
				</basket-product-list>
				<checkout [basketProducts]="basketProducts"></checkout>
			</div>
		</div>
	</ng-container>
	<ng-template #addProduct>
		<hr class="basket_hr" />
		<div class="empty-basket">
			<p class="add-with-button">
				Добавляйте товар с помощью кнопки
				<img src="assets/img/basket_icon.svg" class="basket_btn" alt="basket_btn" />
			</p>
			<a class="btn_open-catalog" routerLink="/catalog">За покупками</a>
		</div>
		<recently-product></recently-product>
	</ng-template>
</div>
