<banner
	[smallBanner]="smallBanner"
	[largeBanner]="largeBanner"
	[bannerTitle]="bannerTitle">
</banner>
<div class="wrap-category" #category>
	<category
		(getCheapProd)="getCheapFlowers($event)"
		(getCategoryFlowers)="getCategoryFlowers($event)"
		(scrollToCatalog)="scrollToCatalog()">
	</category>
</div>
<div class="wrap-catalog" #catalog>
	<catalog></catalog>
</div>
<advantage></advantage>
<div class="wrap-about-us" #aboutUs>
	<about-us (scrollToCatalog)="scrollToCatalog()"></about-us>
</div>
<reviews></reviews>