<div class="container lowest_footer">
	<div class="row">
		<div class="col-lg-11 col-md-10 col-9">
			<div class="row list-reverse">
				<div class="col-sm-12 col-md-6 col-lg-3 text-left">
					<p id="inn">ИП Жарков Александр Игоревич<br>
						ИНН 631188967940
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 icons-soc text-left">
					<a href="#">
						<img class="img-responsive icon_footer" src="assets/logos/Instagramlogo_second.svg" alt="instagram" />
					</a>
					<a href="#">
						<img class="img-responsive icon_footer" src="assets/logos/Whatsuplogo_second.svg" alt="whatsup" />
					</a>
					<a href="#">
						<img class="img-responsive icon_footer" src="assets/logos/Telegramlogo_second.svg" alt="telegram" />
					</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 text-left">
					<a class="footer_links" href="#">info@jbandflowers.ru</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 phone_num_white text-left">
					<h5><a class="footer_links" href="tel:+74950157545">+7 495 015 75 45</a></h5>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-2 col-3 main_logo text-right"><img class="img-responsive"src="assets/logos/logo_second.svg" alt="logo"></div>
	</div>
</div>