<div class="container lowest_footer">
	<div class="row">
		<div class="col-sm-3 text-left">
			<p id="inn">ИП Жарков Александр Игоревич<br>
				ИНН 631188967940</p>
		</div>
		<div class="col-sm-2 icons-soc text-right">
			<a href="#"><img class="img-responsive icon_footer" src="assets/logos/Instagramlogo_second.svg" alt="instagram" /></a>
			<a href="#"><img class="img-responsive icon_footer" src="assets/logos/Whatsuplogo_second.svg" alt="whatsup" /></a>
			<a href="#"><img class="img-responsive icon_footer" src="assets/logos/Telegramlogo_second.svg" alt="telegram" /></a>
		</div>
		<div class="col-sm-3 text-right">
			<a class="footer_links" href="#">info@jbandflowers.ru</a>
		</div>
		<div class="col-sm-3 phone_num_white text-center">
			<h5><a class="footer_links" href="tel:+79313533331">+7 999 999 99 99</a></h5>
		</div>
		<div class="col-sm-1 main_logo text-right"><img class="img-responsive"src="assets/logos/logo_second.svg" alt="logo"></div>
	</div>
</div>