.price-slider {
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
	color: #99999B;
}

.price-slider svg,
.price-slider input[type=range] {
	position: absolute;
	left: 0;
	bottom: 0;
}

.wrap_input-range {
	margin-bottom: 10px;
}

input[type=number] {
	width: 80px;
	height: 30px;
	padding: 7px 10px;
	border: 1px solid #ddd;
	text-align: left;
	font-size: 14px;
	-moz-appearance: textfield;
	border-radius: 3px;
}

input[type=number]:first-child {
	margin-right: 20px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
	border: 2px solid #e60023;
}