.price-slider {
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
	height: 1rem;
	color: #99999B;
}

.price-slider svg,
.price-slider input[type=range] {
	position: absolute;
	left: 0;
	bottom: 0;
}

input[type=number] {
	border: 1px solid #ddd;
	text-align: center;
	font-size: 0.8rem;
	-moz-appearance: textfield;
	width: 30%;
	border-radius: 3px;

}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
	border: 2px solid #e60023;
}