<div class="sidenav">
	<button class="dropdown-btn" (click)="dropdown()">
		<i class="icon-left"><img class="img-responsive" src="assets/icons/price_icon.svg"></i>
		Цена
	  	<i class="fa-caret-down"><img class="img-responsive" src="assets/img/caret.svg"></i>
	</button>
	<div class="dropdown-container" [ngClass]="{active: isActive}">
		<div class="price-slider">
			<ng5-slider
				[(value)]="minValue"
				[(highValue)]="maxValue"
				[options]="options"
				(mouseup)="onChangedRange($event)">
			</ng5-slider>
			<span>от
				<input type="number" [(ngModel)]="minValue" value="1200" min="1200" max="17800" (change)=onChanged($event) /> до
				<input type="number" [(ngModel)]="maxValue" value="17800" min="1200" max="17800" (change)=onChanged($event) />
			</span>
		  </div>
	  	<br>
	</div>
	<hr>
</div>