<div class="sidenav">
	<button class="dropdown-btn" (click)="dropdown()">
		<i class="icon-left"><img class="img-responsive" src="assets/icons/price_icon.svg"></i>
		Цена
	  	<i class="fa-caret-down"><img class="img-responsive" [ngClass]="{'fa-caret-up': isActive}" src="assets/img/caret.svg"></i>
	</button>
	<div class="dropdown-container" [ngClass]="{active: isActive}">
		<div class="price-slider">
			<div class="wrap_input-range">
				<ng5-slider
					[(value)]="minValueRange"
					[(highValue)]="maxValueRange"
					[options]="options"
					(valueChange)="onChangedRange($event)"
					(mouseup)="getFlowersInTheRange($event)">
				</ng5-slider>
			</div>
			<span>от
				<input type="number" [(ngModel)]="minValue" min="1200" max="50000" step="100" (change)=onChanged($event) /> до
				<input type="number" [(ngModel)]="maxValue" min="1200" max="50000" step="100" (change)=onChanged($event) />
			</span>
		  </div>
	  	<br>
	</div>
</div>