<banner
	[smallBanner]="smallBanner"
	[largeBanner]="largeBanner"
	[bannerTitle]="bannerTitle">
</banner>
<div class="container">
	<div class="questions">
		<h2 class="help_title">Выберите вопрос</h2>
		<div class="row">
			<ng-container *ngFor="let question of questions">
				<div class="col-md-3">
					<a class="btn_question" [routerLink]="question.link" routerActiveLink="active-question">
						<img [attr.src]="question.icon" alt="question_icon" />
						{{question.title}}
					</a>
				</div>
			</ng-container>
		</div>
	</div>
	<router-outlet></router-outlet>
	<a class="btn_open-catalog" routerLink="/catalog">В каталог</a>
</div>