.header-breadcrumb {
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 12px;
    color: #7C7B7B;
}

.header-breadcrumb > a {
    color: inherit;
    text-decoration: none;
}

.help-nav {
	padding-top: 20px;
	background: #F4F4F4;
}

.help_title {
	margin-bottom: 50px;
	text-align: center;
	line-height: 59px;
	font-size: 48px;
	color: #04004D;
}

.questions {
	padding-bottom: 100px;
}

.help-menu-item {
	width: 100%;
}

.btn_question {
	margin: 0 15px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	border: none;
	outline: none;
	text-decoration: none;
	background: #fff;
	color: #4E4C70;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.btn_question_img {
	margin-bottom: 24px;
}

.active-question {
	border: 1px solid #EB5642;
}

.active-question > .btn_question_img {
	color: #EB5642;
}

.active-question > .btn_question__text {
	color: #121217;
}

.btn_open-catalog {
	margin: auto;
    display: block;
	width: 300px;
	height: 60px;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	background: #EB5642;
	color: #fff;
	font-weight: 500;
	font-size: 24px;
}

.help-content {
	margin-top: 40px;
	margin-bottom: 100px;
}