.container_radio {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container_radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom radio button */
.container_radio .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	border: 1px solid #D1D9DF;
	background-color: #fff;
	border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark:after {
	top: 0;
    left: 0;
    width: 16px;
    height: 16px;
	border-radius: 50%;
	background: #EB5642;
}