<div class="sidenav">
	<button class="dropdown-btn" (click)="dropdown()">
		<i class="icon-left">
			<img class="img-responsive" src="assets/icons/sort_icon.svg">
		</i>
			Сортировка
		<i class="fa-caret-down">
			<img class="img-responsive" [ngClass]="{'fa-caret-up': isActive}" src="assets/img/caret.svg">
		</i>
	</button>
	<div class="dropdown-container" [ngClass]="{active: isActive}">
		<ng-container *ngFor="let filter of filterSort">
			<label class="container_radio">
				<input
					#inputSort
					id={{filter.id}}
					type="checkbox"
					name="sort"
					(change)="disableCheck($event)"
					>
				<label for={{filter.id}}>{{filter.title}}</label>
				<span class="checkmark"></span>
			</label>
		</ng-container>
	</div>
	<hr>
</div>