:host {
	width: 100%;
}

.product_img {
	margin-right: 30px;
	width: 80px;
	height: 95px;
}

.product_quantity {
	margin-right: 40px;
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
	width: 80px;
	height: 30px;
	border: 1px solid rgba(18, 18, 23, 0.4);
	border-radius: 5px;
	box-sizing: border-box;
}

.quantity__input {
	width: 30px;
	border: none;
}

.heart {
    width: 20px;
    height: 20px;
}

.product_btn {
	width: 20px;
	height: 20px;
}

.product_btn__icon {
	width: 100%;
	height: 100%;
}