:host {
	width: 100%;
}

.wrap-img {
	margin-right: 30px;
}

.product_img {
	width: 80px;
	height: 95px;
	border-radius: 5px;
	cursor: pointer;
}

.basket_product-info {
	height: 100%;
}

.basket_product-item {
    margin: 30px -15px;
}

.product_quantity {
	margin-right: 40px;
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
	width: 80px;
	height: 30px;
	border: 1px solid rgba(18, 18, 23, 0.4);
	border-radius: 5px;
	box-sizing: border-box;
}

.price {
    width: 150px;
}

.quantity__input {
	width: 30px;
	border: none;
	outline: none;
}

.heart {
    width: 20px;
	height: 20px;
	cursor: pointer;
}

.heart path:nth-child(1) {
	fill: none;
}

.heart path:nth-child(2) {
	fill: #999;
}

.favorite path:nth-child(1) {
	fill: #EB5642;
}

.favorite path:nth-child(2) {
	fill: #EB5642;
}

.deleting-info_buttons {
	width: 180px;
}

.btn_delete {
	width: 20px;
	height: 20px;
}

.product_btn__img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.sign,
.deleting-info_cancel__text {
	cursor: pointer;
}

.deleting-info_cancel__text {
	color: #EB5642;
}

.deleting-info__confirm {
	width: 20px;
	height: 17px;
}

@media (max-width: 1199px) {
	.basket_product-info {
		width: auto;
	}
}


@media (max-width: 767px) {
	.product_img {
		width: 60px;
		height: 75px;
	}

	.product_quantity {
		border-color: #EB5642;
	}

	.deleting-info__text {
		margin-bottom: 14px;
		font-size: 14px;
	}

	.deleting-info_cancel__text {
		font-size: 12px;
	}

	.product_name {
		font-size: 14px;
	}

	.price {
		font-weight: 600;
		font-size: 14px;
	}

	.deleting-info {
		display: block;
	}

	.deleting-info_buttons {
		width: auto;
	}

	.deleting-info__confirm {
		width: 12px;
	}
}

