<div class="about_black container-fluid">
	<div class="container">
		<div class="row" >
			<div class="col-md-8 mx-auto text-center about_us">
				<h3>О нас</h3>
				<p id="about_info" class="mx-auto">
					<span id="name">J'Band Flowers</span> – платформа, которая объединяет цветочные магазины и частных флористов Москвы в одном месте.
				</p>
			</div>
		</div>
		<div class="row about-numbers">
			<div class="col-lg-3 col-sm-12 text-center">
				<img class="img-responsive steps" src="assets/img/step1.png" alt="step one">
				<div class="step_text">Выберите букет</div>
				<img class="img-responsive small dotline" src="assets/img/Dotline1.png" alt="dotline">
			</div>
			<div class="col-lg-3 col-sm-12 text-center">
				<img class="img-responsive steps" src="assets/img/step2.png" alt="step two">
				<div class="step_text">Введите данные доставки</div>
				<img class="img-responsive small dotline" src="assets/img/Dotline1.png" alt="dotline">
			</div>
			<div class="col-lg-3 col-sm-12 text-center">
				<img class="img-responsive steps" src="assets/img/step3.png" alt="step three">
				<div class="step_text">Флорист собирает букет</div>
				<img class="img-responsive small dotline" src="assets/img/Dotline1.png" alt="dotline">
			</div>
			<div class="col-lg-3 col-sm-12 text-center">
				<img class="img-responsive steps" src="assets/img/step4.png" alt="step four">
				<div class="step_text">Доставляем букет вам</div>
			</div>
		</div>
		<div class="row about_descr">
			<div class="col-md-12 col-lg-6 video_container text-right">
				<div class="wrap-video">
					<iframe class="video"
						width="100%" height="100%"
						src="https://www.youtube.com/embed/DVNmQy0aNtw"
						frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen>
					</iframe>
				</div>
			</div>
			<div class="col-md-12 col-lg-6 text-sm-center text-lg-left">
				<p id="descr" class="text-left">Мы с заботой относимся к вашему удобству!<br><br>
					На нашем сайте работает команда профессионалов,<br class="large"> которые с любовью занимаются своим делом, <br class="large">
					собирая для вас лучшие цветочные композиции!
				</p>
				<button
					id="best_bouquet"
					class="trans_btn"
					(mouseup)="scrollToCatalogAbout()">
						Выбрать лучший букет
				</button>
			</div>
		</div>
	</div>
</div>