<div class="about_black container-fluid">
	<div class="container">
		<div class="row" >
			<div class="col-sm-6 offset-sm-3 text-center about_us">
				<h3>О нас</h3>
				<p id="about_info"><span id="name">J'Band Flowers</span> – платфорама, которая объединяет<br>
					цветочные магазины и частных флористов Москвы в одном месте.
				</p>
			</div>
		</div>
		<div class="row about-numbers">
			<div class="col-lg-3 col-sm-12 text-center">
				<img class="img-responsive steps" src="assets/img/step1.png" alt="step one">
				<img class="img-responsive small dotline" src="assets/img/Dotline1.png" alt="dotline">
			</div>
			<div class="col-lg-3 col-sm-12 text-center">
				<img class="img-responsive steps" src="assets/img/step2.png" alt="step two">
				<img class="img-responsive small dotline" src="assets/img/Dotline1.png" alt="dotline">
			</div>
			<div class="col-lg-3 col-sm-12 text-center">
				<img class="img-responsive steps" src="assets/img/step3.png" alt="step three">
				<img class="img-responsive small dotline" src="assets/img/Dotline1.png" alt="dotline">
			</div>
			<div class="col-lg-3 col-sm-12 text-center">
				<img class="img-responsive steps" src="assets/img/step4.png" alt="stepfour">
			</div>
		</div>
		<div class="row about_descr">
			<div class="col-sm-6 video_container text-right">
				<video href="#">
				</video>
			</div>
			<div class="col-sm-6 text-left">
				<p id="descr">Мы с заботой относимся к вашему удобству!<br><br>
					На нашем сайте работает команда профессионалов,<br> которые с любовью занимаются своим делом, <br>
					собирая для вас лучшие цветочные композиции!
				</p>
				<button id="best_bouquet" class="trans_btn">Выбрать лучший букет</button>
			</div>
		</div>
	</div>
</div>