<div class="sidenav">
	<button class="dropdown-btn" (click)="dropdown()">
		<i class="icon-left"><img class="img-responsive" src="assets/icons/ocass_icon.svg"></i>
		Поводы
		<i class="fa-caret-down"><img class="img-responsive" src="assets/img/caret.svg"></i>
	</button>
	<div class="dropdown-container" [ngClass]="{active: isActive}">
		<ng-container *ngFor="let filter of filterOccasion; let i = index;">
			<label class="container_check">
				<input #statusInput
					id="ocass{{i + 1}}"
					type="checkbox"
					name="ocass{{i + 1}}"
					(change)="onChanged($event)"
					[attr.data-attributes-ids]="filter.attributesId">
				<label for="ocass{{i + 1}}">{{filter.occasionName}}</label>
				<span class="checkmark"></span>
			</label>
		</ng-container>
	</div>
	<hr>
</div>