header {
    padding-top: 2vh;
    padding-bottom: 5vh;
}

.header-mobile {
	height: 45px;
}

.wrap-header {
    margin: 0;
}

.logo {
	padding-left: 0;
}

.profile-icons {
	padding-right: 0;
}

.header-social_icon {
    margin: 0 5%;
}

.profile-icons_link {
    display: inline-block;
    margin-left: 10%;
}

.icons{
	height: 1.2rem;
	width: 1.2rem;
	margin-left: 10%;
	cursor:pointer;
}

.phone_num > h5 > a {
	white-space: nowrap;
	font-weight: bold;
	font-size: 1rem;
	color: #121217;
}

.header-menu-small {
	width: 33.3% !important;
}

.logo-small-menu {
	margin: auto;
	text-align: center;
}

.logo-small-menu > img {
	margin-left: 1.5vh;
}

.basket-small-menu {
	margin: auto;
	text-align: right;
}

@media (max-width: 768px) {
	.header-mobile {
		margin: 10px 0;
	}

	.header-menu-small {
		width: 33.3% !important;
		align-self: center;
	}

	.logo-small-menu {
		margin: auto;
		text-align: center;
	}

	.logo-small-menu > img {
		margin-left: 1.5vh;
	}

	.basket-small-menu {
		margin: auto;
		text-align: right;
	}
}

@media (min-width: 577px) and (max-width: 768px) {

	.header-mobile {
		height: auto;
	}

	.small-menu_icon {
		height: 36px;
		width: 36px;
	}

	.small-logo {
		width: 50px;
		height: 50px;
	}

	.header-menu-small {
		margin: 10px 0;
	}
}

@media (max-width: 576px) {
	.small-logo {
		width: 35px;
		height: 35px;
	}
}