header {
	padding-top: 10px;
}

header hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-mobile {
	height: 45px;
}

.wrap-header {
    margin: 0;
}

.logo {
	padding-left: 0;
}

.profile-icons {
	padding-right: 0;
}

.header-social_icon {
    margin: 0 5%;
}

.profile-icons_link {
	position: relative;
    display: inline-block;
	margin-left: 10%;
	cursor: pointer;
}

.basket-small_link {
	position: relative;
}

.amount {
	position: absolute;
	right: -12px;
	top: -5px;
	width: 19px;
	height: 19px;
	text-align: center;
	border-radius: 50%;
	background: #2B2B2B;
	color: #fff;
	font-weight: bold;
    font-size: 12px;
}

.amount_mobile_basket {
    width: 15px;
    height: 15px;
    top: -5px;
    right: -5px;
    font-size: 10px;
}

.icons{
	height: 1.2rem;
	width: 1.2rem;
	margin-left: 10%;
	cursor:pointer;
}

.phone_num > h5 > a {
	white-space: nowrap;
	font-weight: bold;
	font-size: 1rem;
	color: #121217;
}

.header-menu-small {
	width: 33.3% !important;
}

.logo-small-menu {
	margin: auto;
	text-align: center;
}

.logo-small-menu > img {
	margin-left: 1.5vh;
}

.basket-small-menu {
	margin: auto;
	text-align: right;
}

.delivery_tag-br {
	display: none;
}

#profile-info {
	position: relative;
}

.popup_profile-menu {
	position: absolute;
	top: 30px;
	right: -65px;
	z-index: 20;
	display: none;
}

.visible-popup {
	display: block;
}

.small-menu_icon {
	cursor: pointer;
}

@media (max-width: 767px) {
	.header-mobile {
		margin: 10px 0;
	}

	.header-menu-small {
		width: 33.3% !important;
		align-self: center;
	}

	.logo-small-menu {
		margin: auto;
		text-align: center;
	}

	.logo-small-menu > img {
		margin-left: 1.5vh;
	}

	.basket-small-menu {
		margin: auto;
		text-align: right;
	}
}

@media (min-width: 576px) and (max-width: 767px) {

	.header-mobile {
		height: auto;
	}

	.small-menu_icon {
		height: 36px;
		width: 36px;
	}

	.small-logo {
		width: 50px;
		height: 50px;
	}

	.header-menu-small {
		margin: 10px 0;
	}
}

@media (max-width: 575px) {
	.small-menu_icon {
		width: 25px;
	}

	.small-logo {
		width: 35px;
		height: 35px;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.delivery_tag-br {
		display: inline-block;
	}
}