#more {
	width: 100px;
    height: 40px;
	border: 2px solid #EB5642;
	box-sizing: border-box;
	border-radius: 3px;
	color: #EB5642;
	padding: .375rem 2rem;
	margin-top: 4vh;
}

#more:hover {
	background-color: rgba(235, 86, 66, 0.1);
}

@media (max-width: 768px) {
	#more {
		width: 100px;
    	height: 30px;
		margin: auto;
		border-radius: 5px;
		line-height: 12px;
		font-size: 12px;
	}
}