#more {
	width: 100px;
    height: 40px;
	border: 2px solid #EB5642;
	box-sizing: border-box;
	border-radius: 3px;
	color: #EB5642;
	padding: .375rem 2rem;
	margin-top: 4vh;
}

#more:hover {
	background-color: rgba(235, 86, 66, 0.1);
}

.grid {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.empty-product-list {
	margin: 0 15px;
	width: 100%;
	position: relative;
	text-align: center;
	background: url(/assets/img/catalog/border_dashes.png) center/100% 100% no-repeat;
	overflow: hidden;
}

.empty-heading {
	margin: 17px auto;
	width: 100%;
	max-width: 670px;
}

.empty-title {
	line-height: 32px;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
}

.empty-subtitle {
	line-height: 24px;
	font-weight: normal;
	font-size: 17px;
	color: #525252;
}

@media (max-width: 991px) {
	.empty-product-list {
		margin-bottom: 80px;
		padding: 0 15px;
		background: url(/assets/img/catalog/border_dashes_mobile.png) center/100% 100% no-repeat;
	}
}

@media (max-width: 767px) {
	#more {
		width: 100px;
    	height: 30px;
		margin: auto;
		margin-top: 12px;
		border-radius: 5px;
		line-height: 12px;
		font-size: 12px;
	}

	.empty-heading {
		margin-top: -20px;
	}

	.empty-title {
		font-size: 18px;
		line-height: 22px;
	}

	.empty-subtitle {
		font-size: 14px;
		line-height: 20px;
	}
}