#more {
	border: 2px solid #EB5642;
	box-sizing: border-box;
	border-radius: 3px;
	color: #EB5642;
	padding: .375rem 2rem;
	margin-top: 4vh;
	margin-right: 5.5rem;
}

@media (max-width: 768px) {
	#more {
		margin: auto;
		border-radius: 5px;
		padding-left: 10vw;
		padding-right: 10vw;
	}
}