
	<div class="row">
		<div class="col-sm-4 text-center">
			<div id="block1" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>
			</div>
		</div><hr class="small">
		<div class="col-sm-4 text-center">
			<div id="block2" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>

			</div>
		</div><hr class="small">
		<div class="col-sm-4 text-center">
			<div id="block3" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>
			</div>
		</div><hr class="small">
	</div>
	<div class="row">
		<div class="col-sm-4 text-center">
			<div id="block4" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>

			</div>
		</div><hr class="small">
		<div class="col-sm-4 text-center">
			<div id="block5" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>

			</div>
		</div><hr class="small">
		<div class="col-sm-4 text-center">
			<div id="block6" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>
			</div>
		</div><hr class="small">
	</div>
	<div class="row">
		<div class="col-sm-4 text-center">
			<div id="block7" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>
			</div>
		</div><hr class="small">
		<div  class="col-sm-4 text-center">
			<div id="block8" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>
			</div>
		</div><hr class="small">
		<div  class="col-sm-4 text-center">
			<div id="block9" class="block">
				<img class="img-responsive flower_img" src="assets/img/flowers.png" alt="цветы">
				<img class="img-responsive heart" src="assets/img/heart.svg">
			</div>
			<p class="price_num small">10 322, 00 руб.</p>
			<p class="bouqet_num">Букет осенний 02<br class="small"> (1шт)</p>
			<button class="in_basket small">В корзину <img class="img-responsive" src="assets/img/basket_btn.png"></button>
			<div class="price large">
				<p>10 322, 00 руб.</p>
				<div class="quantity">
				  <img class="sign minus img-responsive" src="assets/img/minus.svg" alt="minus" />
				  <input type="text" name="name" value="0">
				  <img class="sign plus img-responsive" src="assets/img/plus.svg" alt="plus" />
				  <img src="assets/img/small_basket.svg" class="img-responsive basket">
				</div>
			</div>
		</div>
		<hr class="small">
	</div>
	<div class="row">
		<div class="col-sm-3 offset-sm-6 text-center">
			<button id="more" class="btn">Ещё</button>
		</div>
	</div>
