<div class="container">
	<div *ngIf="isDesktop" class="header-breadcrumb">
		<a routerLink="/">Доставка цветов по Москве</a> - Личный кабинет
	</div>
	<h2 class="profile_title">Личный кабинет</h2>
	<div class="row">
		<aside class="col-3 ">
			<div class="profile-nav">
				<div class="profile_username">{{user.fullName}}</div>
				<ul class="profile-menu">
					<li class="profile-menu_item">
						<span
							class="profile-menu_link"
							[ngClass]="{'active-profile-link': isProfileRoute}"
							(click)="goToUserInfo($event)"
						>
							Профиль
						</span>
					</li>
					<li class="profile-menu_item">
						<span
							class="profile-menu_link"
							[ngClass]="{'active-profile-link': !isProfileRoute}"
							(click)="goToOrders($event)"
						>
							Мои заказы
						</span>
					</li>
					<li class="profile-menu_item">
						<a link="#" class="profile-menu_link">Админ.панель</a>
					</li>
				</ul>
				<hr/>
				<div class="profile_logout">
					<div class="btn_logout" (click)="logout()">Выход</div>
				</div>
			</div>
		</aside>
		<div class="col-9">
			<router-outlet></router-outlet>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-12 d-flex justify-content-end profile-button">
			<a
				routerLink="/catalog"
				class="btn_open-catalog"
				[ngClass]="{'outline-btn': isProfileRoute}"
			>
				{{!isProfileRoute ? "За покупками" : "Продолжить покупки"}}
			</a>
		</div>
	</div>
</div>