<div class="container">
	<h2 class="profile_title">Личный кабинет</h2>
	<div class="row">
		<aside class="col-3 ">
			<div class="profile-nav">
				<div class="profile_username">{{user.fullName}}</div>
				<ul class="profile-menu">
					<li class="profile-menu_item">
						<a routerLink="user-info" class="profile-menu_link" routerLinkActive="active-profile-link">Профиль</a>
						<!-- <span class="profile-menu_link" (click)="goToUserInfo()" routerLinkActive="active-profile-link">Профиль</span> -->
					</li>
					<li class="profile-menu_item">
						<a routerLink="orders" class="profile-menu_link" routerLinkActive="active-profile-link">Мои заказы</a>
						<!-- <span class="profile-menu_link" (click)="goToOrders()">Мои заказы</span> -->
					</li>
					<li class="profile-menu_item">
						<a link="#" class="profile-menu_link">Админ.панель</a>
					</li>
				</ul>
				<hr/>
				<div class="profile_logout">
					<span class="btn_logout" (click)="logout()">Выход</span>
				</div>
			</div>
		</aside>
		<div class="col-9">
			<router-outlet></router-outlet>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-12 d-flex justify-content-end profile-button">
			<a routerLink="/catalog" class="btn_open-catalog" [ngClass]="{'outline-btn': isOutlineStyleBtn}">За покупками</a>
		</div>
	</div>
</div>