<div class="sidenav">
	<button class="dropdown-btn" (click)="dropdown()">
		<i class="icon-left">
			<img class="img-responsive" src="assets/icons/types_icon.svg">
		</i>
			Виды товара
		<i class="fa-caret-down">
			<img class="img-responsive" [ngClass]="{'fa-caret-up': isActive}" src="assets/img/caret.svg">
		</i>
	</button>
	<div class="dropdown-container" [ngClass]="{active: isActive}">
		<ng-container *ngFor="let filter of filterTypes;">
			<label class="container_check">
				<input #statusInput
					id={{filter.name}}
					type="checkbox"
					name={{filter.name}}
					(change)="onChanged($event)"
					[attr.data-attributes-ids]="filter.attributesId"  >
				<label for={{filter.name}}>{{filter.boxType}}</label>
				<span class="checkmark"></span>
			</label>
		</ng-container>
	</div>
	<hr>
</div>