<ng-container *ngIf="isMobile">
	<div id="mySidenav_filters" class="side_nav">
		<span class="closebtn" (click)="closeSidebarFilters()">&times;</span>
	</div>
</ng-container>
<div id="filters">
	<p>Фильтры</p>
</div>
<filter-type></filter-type>
<filter-flower></filter-flower>
<filter-sort></filter-sort>
<filter-colors></filter-colors>
<filter-occasion></filter-occasion>
<filter-price></filter-price>
<div id="butt_cont" *ngIf="isMobile">
	<button id="search" (click)="searchFlowers()">Поиск</button>
</div>