<div id="filters">
	<p>Фильтры</p>
</div>
<filter-type (onCheckedChange)="onCheckedChange($event)"></filter-type>
<filter-flower (onCheckedChange)="onCheckedChange($event)"></filter-flower>
<filter-sort></filter-sort>
<filter-colors (onChangeColor)="onCheckedChange($event)"></filter-colors>
<filter-occasion (onCheckedChange)="onCheckedChange($event)"></filter-occasion>
<filter-price (onChangedPrice)="onChangedRangePrice($event)"></filter-price>
<div id="butt_cont" class="small">
	<button id="search">Поиск</button>
</div>