@font-face {
	font-family: 'Monteserrat';
	src: url('fonts/11952.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Monteserrat';
	src: url('fonts/11951.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Monteserrat';
}

html,
body {
    max-width: 100%;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

hr {
	width: 100%;
}

h3 {
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	color: #121217;
}

.img-responsive {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.small {
	display: none;
}

/* стили ng5-slider */
.price-slider .ng5-slider {
	margin: 0 !important;
	height: 0 !important;
}

.price-slider .ng5-slider .ng5-slider-pointer {
	width: 1rem !important;
	height: 1rem !important;
	top: -7px !important;
	border-radius: 0 !important;
	background-color: transparent !important;
	background-image: url(/assets/price.svg)!important;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	outline-style: none;
}

span.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-max {
    transform: rotate(180deg);
}

.ng5-slider .ng5-slider-pointer:after {
	display: none !important;
}

.ng5-slider .ng5-slider-selection {
	height: 5px !important;
	background-color: #EB5642 !important;
}

/* Начало review owl-carousel */
.review-carousel .carousel-item-img {
	margin: auto;
    width: 100px !important;
}

.review-carousel .owl-carousel {
	margin-top: 50px;
    margin-bottom: 100px;
}

.review-carousel .owl-nav button {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	z-index: 1;
	outline: none;
	display: flex !important;
    justify-content: center;
	align-items: center;
	cursor: pointer !important;
}

.review-carousel .owl-theme button:hover {
	background: none !important;
}

.review-carousel .owl-theme .owl-dot {
    margin: 0 10px;
    width: 16px !important;
    height: 16px !important;
    border: 2px solid #fff !important;
    border-radius: 50%;
	outline: none;
	background-color: transparent;
}

.review-carousel .owl-theme .owl-dots .owl-dot.active {
    border: 2px solid #FFC122 !important;
    background-color: #FFC122 !important;
}

.review-carousel .owl-theme .owl-nav {
    margin-top: 0;
}

.review-carousel .owl-theme .owl-nav > button {
	margin: 0;
}

.review-carousel .owl-theme .owl-dots .owl-dot span {
	display: none;
}

.review-carousel .owl-prev {
	left: -30px;
}

.review-carousel .owl-next {
	right: -30px;
}

.review-carousel .owl-carousel .owl-item {
    padding-left: 80px;
    padding-right: 80px;
}

.review-carousel .owl-nav button img {
    position: absolute;
    top: 40px;
}

@media (max-width: 767px) {
	.review-carousel .owl-theme .owl-dot {
		margin: 0 8px;
		width: 11px !important;
		height: 11px !important;
	}
}

@media (max-width: 415px) {
	.review-carousel .owl-carousel .owl-item {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Окончание review owl-carousel */

/* Переопределение стилей swiper (HelpComponent) */

.help-menu-carousel .swiper-container {
    overflow: initial!important;
}

.help-menu-carousel .swiper-pagination-bullet {
	margin: 0 7px;
	width: 13px!important;
	height: 7px!important;
	border-radius: 8px!important;
	outline: none;
	opacity: 1!important;
	border: 1px solid rgba(183, 183, 183, 0.55)!important;
	background: rgba(183, 183, 183, 0.55)!important;
	cursor: pointer;
}

.help-menu-carousel .swiper-pagination-bullet-active {
	width: 33px!important;
	border-color: #EB5642!important;
	background: #EB5642!important;
}
/* Окончание review swiper (HelpComponent) */

/* Переопределение стилей swiper (CardComponent) */
.card-swiper-mobile .swiper-pagination-bullet-active {
	border-color: #EB5642!important;
	background: #EB5642!important;
}
/* Окончание review swiper (CardComponent) */

/* Переопределение стилей bootstrap (select) */
.bootstrap-select > .dropdown-toggle {
	margin-bottom: 8px;
	height: 60px;
	background: #fff;
	border: 1px solid #DCDCDC;
    border-radius: 5px;
	font-weight: 600;
	font-size: 14px;
	outline: none;
}

.dropup .dropdown-toggle::after,
.dropdown-toggle::after {
	width: 10px;
	height: 20px;
	background: url('assets/icons/order/select-option-arrows.svg');
	background-repeat: no-repeat;
	border: none;
}

.bootstrap-select > .dropdown-toggle:focus {
	outline: none!important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    color: #212529;
    background: #fff;
    border-color: #DCDCDC;
}

.dropdown-menu {
	max-height: 220px;
}

.dropdown-menu.inner {
	overflow-y: auto;
}

.dropdown-menu.inner::-webkit-scrollbar {
	width: 4px;
}

.dropdown-menu.inner::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dropdown-menu.inner::-webkit-scrollbar-thumb {
	background-color: #D1D9DF;
	outline: 1px solid slategrey;
}

.dropdown-item {
	position: relative;
	display: flex;
    justify-content: space-between;
    align-items: center;
	height: 35px;
	color: #000;
	font-size: 14px;
}

.dropdown-item:focus,
.dropdown-item:hover {
	text-decoration: none;
    background: #EBF2FD;
}

.dropdown-item.active,
.dropdown-item:active {
	text-decoration: none;
	color: #000;
	background-color: #fff;
	font-weight: 600;
	outline: none;
}

.dropdown-item.active:after {
	content: '';
	width: 15px;
	height: 10px;
	background: url('assets/icons/order/select-option-active.svg');
	background-repeat: no-repeat;
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Окончание переопределения стилей bootstrap (select) */

/* Переопределение стилей ngb-bootstrap Tabset */
.nav-pills {
    margin-bottom: 60px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #fff;
	color: #121217;
	border-bottom: 1px solid #EB5642;
}

.nav-link {
	display: block;
	margin-right: 25px;
	padding: 0;
	outline: none;
}

.nav-pills .nav-link {
	border-radius: 0;
	color: rgba(141, 141, 141, 0.7);
	font-size: 16px;
	font-weight: bold;
}

@media (max-width: 767px) {
	.nav-pills {
		margin-bottom: 20px;
	}
}

/* Окончание переопределения стилей ngb-bootstrap Tabset */

.modal-content {
	border: none;
	background: transparent;
}

@media (max-width: 767px) {
	.large {
		display: none;
	}

	.small {
		display: block;
	}

	.owl-theme .owl-dot {
		margin: 0 4px;
		width: 11px !important;
		height: 11px !important;
		box-sizing: content-box;
	}

	.owl-carousel {
		margin-bottom: 40px;
	}

	.owl-carousel .owl-item {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (max-width: 575px) {
	h3 {
		margin-bottom: 0;
		font-size: 22px;
		line-height: 27px;
	}

	.owl-carousel .owl-item {
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Переопределение стилей ngb-bootstrap Modal */
	.modal-dialog {
		margin: 0;
	}
	/* Окончание переопределения ngb-bootstrap Modal */
}