@font-face {
	font-family: 'Monteserrat';
	src: url('fonts/11952.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Monteserrat';
	src: url('fonts/11951.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Monteserrat';
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

hr {
	width: 100%;
}

h3 {
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	color: #121217;
}

.img-responsive {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.small {
	display: none;
}

/* стили ng5-slider */
.price-slider .ng5-slider {
	margin: 0 !important;
	height: 0 !important;
}

.price-slider .ng5-slider .ng5-slider-pointer {
	width: 1rem !important;
	height: 1rem !important;
	top: -7px !important;
	border-radius: 0 !important;
	background-color: transparent !important;
	background-image: url(/assets/price1.svg)!important;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	outline-style: none;
}

span.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-max {
    transform: rotate(180deg);
}

.ng5-slider .ng5-slider-pointer:after {
	display: none !important;
}

.ng5-slider .ng5-slider-selection {
	height: 5px !important;
	background-color: #EB5642 !important;
}

@media (max-width: 1200px) {
	.container {
		max-width: 100%!important;
	}
}

@media (max-width: 768px) {
	.large {
		display: none;
	}

	.small {
		display: block;
	}
}

@media (max-width: 576px) {
	h3 {
		font-size: 22px;
		line-height: 27px;
	}
}