.header-breadcrumb {
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 12px;
    color: #7C7B7B;
}

.header-breadcrumb > a {
    color: inherit;
    text-decoration: none;
}


.favorites_title {
	line-height: 44px;
	font-size: 32px;
	color: #121217;
}

.favorites_hr {
	max-width: 730px;
}

.favorites_heart {
	margin: 0 5px;
}

.empty-favorites {
	margin-bottom: 50px;
}

.save-with-button {
	margin-bottom: 50px;
}

.btn_open-catalog {
	display: block;
	width: 180px;
	height: 45px;
	text-align: center;
	border: 1px solid #EB5642;
	border-radius: 5px;
	font-size: 14px;
	line-height: 45px;
	text-decoration: none;
	background: #EB5642;
	color: #fff;
	cursor: pointer;
}

@media (max-width: 767px) {
	.favorites_title {
		margin-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
		width: 190px;
		line-height: initial;
		font-size: 22px;
	}

	.empty-favorites {
		padding: 0 15px;
	}

	.favorites_heart {
		width: 18px;
	}
}

@media (max-width: 575px) {
	.favorites_hr {
		margin: 0 -15px;
		width: initial;
	}

	.save-with-button {
		font-size: 12px;
	}

	.favorites_heart {
		width: 14px;
	}

	.btn_open-catalog {
		margin: auto;
	}
}