<ng-container *ngIf="recentlyProducts.length">
	<div class="container">
		<h2 class="recently_title">
			Вы недавно смотрели
		</h2>
		<ng-container *ngIf="isDesktop; else smallDisplay">
			<div class="row recently-product-list">
				<ng-container *ngFor="let recentlyProduct of recentlyProducts">
					<recently-product-item [flower]="recentlyProduct" class="col-lg-3 col-md-4"></recently-product-item>
				</ng-container>
			</div>
		</ng-container>

		<ng-template #smallDisplay>
			<div class="recently-product-list">
				<swiper [config]="config" class="swiper-container">
					<div class="swiper-slide" *ngFor="let recentlyProduct of recentlyProducts">
						<recently-product-item [flower]="recentlyProduct"></recently-product-item>
					</div>
				</swiper>
			</div>
		</ng-template>
	</div>
</ng-container>