.profile-menu {
	margin: 0;
    width: 150px;
    height: 140px;
    list-style: none;
	text-align: left;
	font-size: 12px;
	line-height: 35px;
	box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
}

.profile-menu_item {
	height: 35px;
	cursor: pointer;
}

.profile-menu_link,
.profile-menu_btn-logout {
    display: block;
    padding: 0 18px;
}

.profile-menu_item:hover {
	background-color: #EB5642;
	color: #fff;
}

@media (max-width: 767px) {
	.profile-menu {
		padding: 0 16px;
		width: auto;
		height: auto;
		box-shadow: none;
	}

	.profile-menu hr {
		margin: 0;
	}

	.profile-menu_btn-logout,
	.profile-menu_link {
		padding: 0;
		line-height: 40px;
	    text-decoration: none;
	    font-weight: 600;
	    font-size: 12px;
	    color: #121217;
	    display: block;
		transition: 0.3s;
	}

	.profile-menu_item {
		height: 40px;
	}

	.profile-menu_item:hover {
		background-color: transparent;
		color: #EB5642;
	}
}