<ng-container *ngIf="similarProducts.length">
	<div class="container">
		<h2 class="similar_title">
			Вам также может понравиться
		</h2>
		<ng-container *ngIf="isDesktop; else smallDisplay">
			<div class="row similar-product-list">
				<ng-container *ngFor="let similarProduct of similarProducts">
					<similar-product-item [flower]="similarProduct" class="col-lg-3 col-md-4"></similar-product-item>
				</ng-container>
			</div>
		</ng-container>
		<ng-template #smallDisplay>
			<div class="similar-product-list">
				<swiper [config]="config" class="swiper-container">
					<div class="swiper-slide" *ngFor="let similarProduct of similarProducts">
						<similar-product-item [flower]="similarProduct"></similar-product-item>
					</div>
				</swiper>
			</div>
		</ng-template>
	</div>
</ng-container>